@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url(../plugins/datatable/dataTables.bootstrap.css);
@import url(../plugins/datatable/dataTables.responsive.css);
@import url(../plugins/jquery-ui/jquery-ui.min.css);
@import url(../plugins/inputTags/inputTags.min.css);
:root {
  --color-success:#40AA73;
  --color-secondary:#34B27E;
  --color-blue:#455EEE;
  --color-gray:#72848D;
  --color-warning:#FF7227;
  --color-warning-1:#de4d00;
  --color-yellow:#47C736;
  --color-danger-2:#707070;
}

.text-success {
  color: var(--color-success) !important;
}

.text-secondary {
  color: var(--color-secondary) !important;
}

.text-gray {
  color: var(--color-gray) !important;
}

.text-warning {
  color: var(--color-warning) !important;
}

.text-warning-1 {
  color: var(--color-warning-1) !important;
}

.text-blue {
  color: var(--color-blue) !important;
}

.text-yellow-dark {
  color: #FF9300 !important;
}

.bg-yellow {
  background-color: var(--color-yellow) !important;
}

.highlight-yellow {
  border-top: 1px solid var(--color-yellow) !important;
  border-left: 1px solid var(--color-yellow) !important;
  border-right: 1px solid var(--color-yellow) !important;
  border-bottom: 1px solid var(--color-yellow) !important;
  color: var(--color-yellow);
}
.highlight-yellow .sm-title {
  color: var(--color-yellow);
}

.bg-light-blue {
  background-color: #E4F2FF;
}

.text-light-gray {
  color: #C4C4C4;
}

.text-pink {
  color: #2A518C !important;
}

.text-danger-2 {
  color: var(--color-danger-2) !important;
}

.text-body {
  color: #707070 !important;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 22px;
  color: #707070;
  background: #fff;
  overflow-x: hidden;
}

img {
  vertical-align: bottom;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #05161D;
  font-weight: 500;
}

h1 {
  font-size: 50px;
  line-height: 1.4em;
}

h2 {
  font-size: 56px;
  line-height: 75px;
  letter-spacing: 0;
}

h3 {
  font-size: 32px;
  line-height: 42px;
}

h4 {
  font-size: 26px;
  line-height: 1.6em;
}

h5 {
  font-size: 20px;
  line-height: 1.6em;
}

h6 {
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
}

a, input, button, textarea, * {
  outline: none !important;
}

a {
  color: #455EEE;
}

hr {
  border-color: #E9ECF4 !important;
}

ol {
  padding-left: 17px;
}

.all-content-wrapper {
  overflow: hidden;
}

.container-fluid {
  padding-left: 24px;
  padding-right: 24px;
}
@media only screen and (max-width: 479px) {
  .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.w-185 {
  width: 185px;
}

.pt-120 {
  padding-top: 120px;
}

.pb-120 {
  padding-bottom: 120px;
}

.ptb-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.sec-title {
  text-align: center;
  margin-bottom: 90px;
}
.sec-title h2 {
  margin-bottom: 25px;
}
.sec-title h2 strong {
  font-weight: bold;
  color: #FF7F00;
}

.page-top-area {
  background-color: #fff;
  border-radius: 0;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
  padding: 2px 24px;
  border-bottom: 1px solid #eee;
  min-height: 48px;
  align-items: center;
  margin-bottom: 25px;
}
.page-top-area p {
  margin-bottom: 0;
}

.round-5 {
  border-radius: 5px;
}

.avater-sm-thumb {
  min-height: 32px;
  min-width: 32px;
  max-width: 35px;
  max-width: 35px;
  border-radius: 50%;
  background: #E0F3EC;
  font-size: 12px;
  color: #72848D;
  font-weight: bold;
  display: block;
  line-height: 32px;
  overflow: hidden;
  text-align: center;
  border-radius: 50%;
}
.avater-sm-thumb img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  vertical-align: top;
}

.small-text {
  font-size: 12px;
  color: #C9C9C9;
}

.avater-area .text p {
  margin-bottom: 0;
  color: #72848D;
  line-height: 19px;
  font-size: 14px;
}
.avater-area .text small {
  font-size: 12px;
  color: #C9C9C9;
}
.avater-area .avater-thumb {
  margin-right: 13px;
  padding-top: 3px;
}
.avater-area .avater-sm-thumb {
  border-radius: 0;
  background-color: #fff;
  border: 1px solid #C9C9C9;
  text-align: center;
  font-size: 14px;
  height: 34px;
  width: 34px;
  line-height: 34px;
}

.sm-avater {
  margin: 5px 0;
}
.sm-avater p {
  display: inline-block;
  margin-bottom: 0;
}
.sm-avater i {
  font-size: 23px;
}

.job-info {
  position: relative;
}
.job-info .text-status {
  position: absolute;
  top: 0;
  right: 6px;
}

.text-status {
  display: inline-block;
}

.avater--list-area .list-item {
  margin-bottom: 15px;
}
.avater--list-area .list-item .avater-sm-thumb {
  background-color: #FCCC5F;
  color: #000;
}
.avater--list-area .list-item p {
  margin-bottom: 0;
  color: #000;
  padding: 4px 12px;
  font-weight: 500;
}

.member-box-area {
  padding: 14px 22px;
  border: 1px solid #E9ECF4;
  border-radius: 3px;
}
.member-box-area .avater-sm-thumb {
  min-height: 63px;
  min-width: 63px;
  margin-top: 4px;
}
.member-box-area .text-content {
  padding-left: 20px;
  width: 100%;
  position: relative;
}
.member-box-area p {
  margin-bottom: 0;
}
.member-box-area .status-bar {
  position: absolute;
  right: -6px;
  font-size: 10px;
  padding: 1px 7px;
  min-width: auto;
  border-radius: 50px;
  text-transform: uppercase;
}

.avater-sm-thumb.md-size {
  min-height: 54px;
  min-width: 54px;
}

:root {
  --transition-collapse:all 0.15s;
}

.header-area {
  z-index: 999;
  position: relative;
}
.header-area .top-nav {
  box-shadow: 0 -3px 20px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #fff;
}
.header-area .top-nav .left-title {
  margin-bottom: 0;
  font-size: 18px;
  line-height: 24px;
  color: #72848D;
  font-weight: 400;
}
.header-area .nav-link {
  color: #C4C4C4;
}
.header-area .top-navbar-nav {
  padding: 0;
  margin: 0;
  list-style: none;
}
.header-area .top-navbar-nav .nav-link {
  height: 60px;
  width: 50px;
  text-align: center;
  padding: 18px 11px;
  vertical-align: middle;
}
.header-area .top-navbar-nav .nav-link i {
  font-size: 22px;
}
.header-area .top-navbar-nav .nav-link:hover {
  background-color: #f6f6f6;
}
.header-area .top-navbar-nav .nav-avater-item .nav-link {
  padding: 13px 8px !important;
}
.header-area .dropdown-menu {
  width: 332px;
  border: 1px solid #F0F0F0;
  left: auto;
  right: -10px;
  top: 42px;
  padding: 15px;
}
.header-area .dropdown-menu .dropdown-item {
  font-size: 14px;
  line-height: 24px;
  padding: 7px 15px;
  border-radius: 3px;
}
.header-area .dropdown-menu .dropdown-item i {
  color: var(--color-success);
  margin-right: 5px;
  width: 28px;
  font-size: 16px;
}
.header-area .dropdown-menu .dropdown-item:active, .header-area .dropdown-menu .dropdown-item:hover {
  background-color: var(--color-success);
  color: #fff;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.1);
}
.header-area .dropdown-menu .dropdown-item:active i, .header-area .dropdown-menu .dropdown-item:hover i {
  color: #fff;
}
.header-area .navbar-nav .nav-item .nav-link {
  padding: 5px 18px;
  color: #A5B0BF;
  font-size: 16px;
  line-height: 24px;
}
.header-area .navbar-nav .nav-item .nav-link:hover {
  color: #40AA73;
}
@media only screen and (max-width: 1199.98px) {
  .header-area .navbar-nav .nav-item .nav-link {
    padding: 5px 10px;
    font-size: 15px;
  }
}
@media only screen and (max-width: 1199.98px) and (max-width: 575.98px) {
  .header-area .navbar-nav .nav-item .nav-link {
    padding: 0;
  }
}
.header-area .navbar-nav .nav-item:first-child .nav-link {
  padding-left: 0;
}
.header-area .navbar-nav .nav-item:last-child .nav-link {
  padding-right: 0;
}
.header-area .navbar-nav .nav-item.active .nav-link {
  color: #40AA73;
}
.header-area .navbar {
  padding: 0;
}
.header-area .navbar .input-group {
  width: auto;
}
.header-area .side-nav-area {
  position: fixed;
  left: 0;
  top: 62px;
  height: calc(100vh - 62px);
  border-right: 1px solid #D9DFEB;
  background: #fff;
  width: 240px;
  padding-top: 40px;
  padding-bottom: 65px;
}
@media only screen and (max-width: 991.98px) {
  .header-area .side-nav-area {
    height: 100vh;
    top: 0;
    background: #40AA73;
  }
}
.header-area .side-nav-area .sidebar-nav {
  padding: 0 13px;
  height: calc(100vh - 155px);
  overflow-y: auto;
  overflow-x: hidden;
}
.header-area .side-nav-area .sm-title {
  padding: 0 18px;
  font-size: 16px;
  font-weight: 500;
  color: #A5B0BF;
  line-height: #A5B0BF;
  margin-bottom: 5px;
}
@media only screen and (max-width: 991.98px) {
  .header-area .side-nav-area .sm-title {
    color: #fff;
  }
}
.header-area .side-nav-area .nav-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.header-area .side-nav-area .nav-list .nav-item .nav-link {
  padding: 7px 17px;
  border-radius: 3px;
  display: block;
  font-size: 14px;
  line-height: 24px;
  width: 100%;
  color: #707070;
  -webkit-transition: all 0.15s;
  -o-transition: all 0.15s;
  transition: all 0.15s;
}
@media only screen and (max-width: 991.98px) {
  .header-area .side-nav-area .nav-list .nav-item .nav-link {
    color: #fff;
  }
}
.header-area .side-nav-area .nav-list .nav-item .nav-link i {
  -webkit-transition: all 0.15s;
  -o-transition: all 0.15s;
  transition: all 0.15s;
  width: 28px;
  display: inline-block;
  color: #47BB7F;
  font-size: 16px;
}
@media only screen and (max-width: 991.98px) {
  .header-area .side-nav-area .nav-list .nav-item .nav-link i {
    color: #fff;
  }
}
.header-area .side-nav-area .nav-list .nav-item .nav-link:hover {
  color: var(--color-success);
}
@media only screen and (max-width: 991.98px) {
  .header-area .side-nav-area .nav-list .nav-item .nav-link:hover {
    background: #fff;
  }
  .header-area .side-nav-area .nav-list .nav-item .nav-link:hover i {
    color: var(--color-success);
  }
}
.header-area .side-nav-area .close-btn {
  background: transparent;
  border: transparent;
  color: #fff;
  margin-left: 23px;
  font-weight: 500;
  padding: 12px 8px;
  font-size: 16px;
}

.top-info-box {
  background-color: #EFEFEF;
  padding: 8px 23px;
}

.navbar-toggler {
  border: none;
  box-shadow: none !important;
  padding: 20px 16px;
  border-radius: 0;
  color: #7C7C7C;
}

.header-area .side-nav-area, .header-area .top-nav, .main-root {
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

.nav-item.nav-avater-item.dropdown .dropdown-menu {
  top: 100%;
  width: 200px;
}

.nav-item.nav-avater-item.dropdown .dropdown-menu .dropdown-item {
  color: #C4C4C4;
}

.nav-item.nav-avater-item.dropdown .dropdown-menu .dropdown-item:hover {
  color: #fff;
}

.side-nav-area {
  display: none;
}

.active-lg-sidebar-nav .side-nav-area {
  display: block;
}
.active-lg-sidebar-nav .main-root {
  padding-left: 240px;
}
@media only screen and (max-width: 991.98px) {
  .active-lg-sidebar-nav .main-root {
    padding-left: 0;
  }
}

.main-root {
  padding-left: 0;
  padding-bottom: 90px;
}

@media only screen and (max-width: 991.98px) {
  .side-nav-area {
    display: block;
  }

  .header-area .side-nav-area {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  .open-side-nav .header-area {
    padding-left: 240px;
  }
  .open-side-nav .header-area .top-nav {
    -webkit-transform: translateX(240px);
    -ms-transform: translateX(240px);
    transform: translateX(240px);
  }
  .open-side-nav .header-area .side-nav-area {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  .open-side-nav .main-root {
    -webkit-transform: translateX(240px);
    -ms-transform: translateX(240px);
    transform: translateX(240px);
  }
}
.btn {
  padding: 9px 31px;
  font-size: 14px;
  line-height: 19px;
  font-weight: 500;
  border-radius: 3px;
  -webkit-transition: ease-in-out 0.2s;
  -o-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

.sm-btn {
  padding: 5px 12px;
  font-size: 13px;
}

.btn-outline-dark {
  border-color: #707070;
  color: #707070;
}
.btn-outline-dark:hover {
  background-color: #707070;
  color: #fff;
  border-color: transparent;
}

.btn-dark {
  background: #030303;
  border-color: transparent;
}
.btn-dark:hover {
  background-color: transparent;
  border-color: #030303;
  color: #030303;
}

.btn-gray {
  background-color: #D6DFE4;
  color: #72848D;
  border-color: transparent;
}
.btn-gray:focus {
  box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
}
.btn-gray:hover {
  background-color: transparent;
  border-color: #030303;
  color: #030303;
}

.btn-success {
  background: #47BB7F;
  border-color: transparent;
  color: #fff;
}
.btn-success:hover {
  background-color: #249164;
}

.btn-secondary {
  background: #D9F0D8;
  border-color: transparent;
  color: #14a20c;
}
.btn-secondary:hover {
  background-color: transparent;
  border-color: #14a20c;
  color: #14a20c;
}

.btn-outline-gray {
  color: #72848D;
  background-color: transparent;
  border-color: #C4C4C4;
}
.btn-outline-gray:hover {
  background-color: #C4C4C4;
  border-color: transparent;
  color: #fff;
}

.btn .left-icon {
  margin-right: 10px;
}

i.rotate-icon {
  transform: rotate(180deg) translateY(-2px);
}

.btn-danger {
  background: #D90A20;
  color: #fff;
  border-color: transparent;
}
.btn-danger:hover {
  background: transparent;
  color: #D90A20;
  border-color: #D90A20;
}

.btn-orange {
  background: #F67606;
  color: #fff;
  border-color: transparent;
}
.btn-orange:hover {
  background: transparent;
  color: #F67606;
  border-color: #F67606;
}

.icon-btn {
  font-size: 16px;
  padding: 5px;
  background-color: transparent;
  border-color: transparent;
  height: 35px;
  width: 35px;
  border-radius: 6px;
  color: #C9C9C9;
}

.btn-area .btn {
  margin-left: 17px;
}
.btn-area .btn:first-child {
  margin-left: 0;
}

.btn-close {
  background-color: transparent;
  border-color: transparent;
  font-size: 16px;
  padding: 5px;
}

.btn-text {
  color: #72848D;
  text-decoration: none;
  display: inline-block;
}

.add-btn {
  background-color: transparent;
  border: transparent;
  color: var(--color-success);
}

.dot-3 {
  display: block;
  position: relative;
  height: 26px;
  width: 20px;
  background-color: transparent;
  border-color: transparent;
}
.dot-3::before, .dot-3::after {
  content: "";
  border-radius: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #72848D;
}
.dot-3::before {
  top: 0;
}
.dot-3::after {
  bottom: 0;
}
.dot-3::before, .dot-3::after, .dot-3 span {
  height: 5px;
  width: 5px;
  left: 50%;
  background-color: #72848D;
}
.dot-3 span {
  border-radius: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}

.btn-primary {
  background-color: #1358F9;
}

.btn-lg {
  padding: 16px 15px;
}

.link-btn {
  font-weight: 500;
  text-decoration: none;
  display: inline-block;
}

.arrow-lg-btn {
  font-size: 34px;
  color: #C4C4C4;
}

.close-btn {
  border: transparent;
  background: transparent;
  font-size: 20px;
}

.arrow-sm-btn {
  font-size: 18px;
}

.btn-light-gray {
  background: #E9ECF4;
  color: #707070;
}

.btn-text {
  color: #005EF5;
  font-weight: bold;
}
.btn-text i {
  font-size: 16px;
}

.text-14 {
  font-size: 14px;
}

.text-bold {
  font-weight: bold;
}

.sm-title {
  font-size: 16px;
  font-weight: 400;
  color: #323740;
  line-height: 25px;
}

.small-title {
  color: #000;
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
}

.md-title {
  font-size: 28px;
  font-weight: 500;
  line-height: 30px;
}

.md-icon {
  font-size: 30px;
}

.title-md {
  font-size: 24px;
}

.title-sm {
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-bold {
  font-weight: bold;
}

.ml-10 {
  margin-left: 10px;
}

.sm_title_des_info {
  font-size: 13px;
  line-height: 15px;
  color: #a6a6ae;
  line-height: 17px;
}
.sm_title_des_info .title {
  font-size: 14px;
  color: var(--color-dark2);
  margin-bottom: 0;
  line-height: 20px;
}

.mas_smalldate {
  font-size: 14px;
  color: #8f9399;
}

.cust-switcher {
  position: relative;
  display: inline-block;
}
.cust-switcher input[type=checkbox] {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}
.cust-switcher label {
  cursor: pointer;
  width: 40px;
  height: 22px;
  background: #A0A0A0;
  display: block;
  border-radius: 100px;
  position: relative;
  -webkit-transition: cubic-bezier(0.22, 0.61, 0.36, 1) 0.25s;
  -o-transition: cubic-bezier(0.22, 0.61, 0.36, 1) 0.25s;
  transition: cubic-bezier(0.22, 0.61, 0.36, 1) 0.25s;
}
.cust-switcher label i {
  font-size: 10px;
  position: absolute;
  left: 6px;
  z-index: 5;
  top: 6px;
  transition: 0.3s;
  pointer-events: none;
}
.cust-switcher label:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}
.cust-switcher input:checked + label {
  background: #34B27E;
}
.cust-switcher input:checked + label:after {
  left: calc(100% - 3px);
  transform: translateX(-100%);
}
.cust-switcher input:checked + label i {
  left: calc(100% - 6px);
  transform: translateX(-100%);
}
.cust-switcher input[type=checkbox]:active label::after {
  width: 30px;
}

.custom-select .chosen-container {
  display: block;
  width: 100% !important;
}

.custom-select .chosen-container .chosen-single {
  border: 1px solid #dbdcdd;
  background: transparent;
  box-shadow: none;
  height: auto;
  padding: 7px 10px;
  font-size: 12px;
  color: #495057;
  border-radius: 4px;
}
.custom-select .chosen-container .chosen-single span {
  margin-right: 0;
}

.custom-select .chosen-container .chosen-single div {
  position: absolute;
  top: 50%;
  right: 2px;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: auto;
  font-size: 14px;
}
.custom-select .chosen-container .chosen-single div::before {
  content: "";
  font-family: "Font Awesome 5 Pro";
}

.chosen-container .chosen-drop {
  border: 1px solid #dbdcdd;
}

.chosen-container .chosen-results {
  padding: 0;
  margin: 0;
}

.chosen-container .chosen-results li {
  padding: 10px 13px;
  font-size: 12px;
  -webkit-transition: all 0.15s;
  -o-transition: all 0.15s;
  transition: all 0.15s;
}

.active-result.highlighted {
  background: #F6F6F6 !important;
  color: #000 !important;
}

.active-result.result-selected {
  color: #000 !important;
  font-weight: bold;
}

.chosen-container .chosen-drop {
  clip: auto;
  clip-path: none;
  transform: scaleY(0.5);
  transform-origin: top left;
  opacity: 0;
  visibility: hidden;
  transition: all 0.07s;
}

.chosen-container.chosen-with-drop .chosen-drop {
  transform: scaleY(1);
  transform-origin: top left;
  opacity: 1;
  visibility: visible;
}

.search-field .chosen-single.chosen-default {
  background: #EFEFEF !important;
  color: #C9C9C9 !important;
}
.search-field .custom-select {
  width: 95px;
}
.search-field .form-control {
  width: 175px;
  font-size: 12px;
}
.search-field .chosen-container .chosen-single {
  border-radius: 4px 0 0 4px;
}

.select2-container {
  display: block;
  width: 100% !important;
}

.selection {
  display: block;
}

.select2-selection--single {
  border: 1px solid #D6DFE4 !important;
  height: 39px !important;
  padding: 5px 0;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 100%;
  width: 34px;
}

.select2-dropdown {
  border: 1px solid #D6DFE4 !important;
  border-radius: 5px;
}

.select2-search--dropdown {
  padding: 7px;
  position: relative;
}
.select2-search--dropdown::before {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='61.477' height='61.475' viewBox='0 0 61.477 61.475'%3E%3Cg id='loupe' transform='translate(0 -0.004)'%3E%3Cg id='Group_140' data-name='Group 140' transform='translate(0 0.003)'%3E%3Cpath id='Path_20' data-name='Path 20' d='M60.725,57.106,43.243,39.624a24.38,24.38,0,1,0-3.622,3.622L57.1,60.728a2.561,2.561,0,1,0,3.622-3.622ZM24.334,43.548A19.211,19.211,0,1,1,43.545,24.337,19.231,19.231,0,0,1,24.334,43.548Z' transform='translate(0 -0.003)' fill='%23c2c2c2'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  background-size: contain;
  background-repeat: no-repeat;
  height: 15px;
  width: 15px;
  position: absolute;
  right: 18px;
  top: 15px;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #D6DFE4;
  border-radius: 5px;
  padding: 3px 12px;
  padding-right: 35px;
}

.select2-results__option {
  padding: 7px 10px;
  border-radius: 3px;
}

.select2-results__options {
  padding: 8px;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background: #47BB7F;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.form-group label {
  margin-bottom: 10px;
}
.form-group small {
  font-size: 13px;
  line-height: 17px;
  margin-top: 10px;
  display: block;
  color: #C6C6C6;
}

.form-control, .input-group-text {
  font-size: 14px;
  line-height: 19px;
}

.form-control {
  padding: 9px 10px;
}

.input-group-text {
  padding: 10px 15px;
}

.right-prepend .input-group-prepend {
  width: 300px;
  border-color: #D6DFE4;
}
@media only screen and (max-width: 767.98px) {
  .right-prepend .input-group-prepend {
    width: auto;
  }
}
.right-prepend .form-control {
  border-radius: 4px 0 0 4px;
  border-color: #D6DFE4;
}

.top-form-field {
  border-bottom: 1px solid #EFEFEF;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.form-bottom-info {
  border-top: 1px solid #EFEFEF;
  padding-top: 20px;
  margin-top: 15px;
}

.search-area {
  position: relative;
  display: inline-block;
}
.search-area .search-btn {
  background-color: transparent;
  color: #72848D;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 5px;
  background-color: transparent;
}
.search-area .form-control {
  border: 1px solid #D6DFE4;
  padding-left: 38px;
  max-width: 259px;
}

.search-btn {
  background-color: transparent;
  border-color: transparent;
}

.select-area {
  position: relative;
}
.select-area .form-control {
  padding-right: 22px;
}
.select-area:after {
  border-bottom: 2px solid #000000;
  border-right: 2px solid #000000;
  content: "";
  display: block;
  margin-top: -4px;
  pointer-events: none;
  position: absolute;
  right: 12px;
  top: 50%;
  -webkit-transform-origin: 66% 66%;
  -ms-transform-origin: 66% 66%;
  transform-origin: 66% 66%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  width: 6px;
  height: 6px;
}

.pagination li {
  border-radius: 5px;
  margin-right: 4px;
}
.pagination li:last-child {
  margin-right: 0;
}
.pagination li a {
  border-radius: 4px;
  border: 1px solid #005EF5;
  color: #005EF5;
  display: block;
  font-size: 14px;
  line-height: 13px;
  padding: 11px 12px;
  text-decoration: none;
  font-weight: bold;
}
.pagination li.active a {
  background: #005EF5;
  border-color: #005EF5;
  color: #fff;
}

div.dataTables_length label::after {
  content: "";
  font-family: "Font Awesome 5 Pro";
  display: block;
  margin-top: -4px;
  pointer-events: none;
  position: absolute;
  right: 69px;
  top: 64%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-weight: 900;
  color: #B3B3B3;
}

.form-check {
  min-height: auto;
  position: relative;
  margin-bottom: 8px;
}

.form-check .form-check-label {
  font-size: 14px;
  line-height: 20px;
  vertical-align: middle;
  margin-top: 0;
}

.form-check-input[type=checkbox] {
  border-radius: 0.25em;
  margin-top: 3px;
}

.select2-container--default .select2-selection--multiple {
  border: 1px solid #eee !important;
  min-height: auto;
  display: block;
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 6px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.2);
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #E4F0E7;
  border: 1px solid #40AA73;
  border-radius: 4px;
  color: #40AA73;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  float: right;
  border-right: 0;
  padding: 2px 7px;
  color: #40AA73;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__display {
  display: inline-block;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 9px;
}

.check-box-card {
  padding: 15px 17px;
  background-color: #F5FAFF;
  border: 1px solid #ACC4FC;
  border-radius: 5px;
  min-height: 114px;
}
.check-box-card label {
  color: #000;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background: #F9F9F9;
  box-shadow: none;
  color: #707070;
}

.open-modal .select2-container--open {
  z-index: 2000;
}

.round {
  position: relative;
}

.round label {
  background-color: #fff;
  border: 1px solid #D9DFEB;
  border-radius: 50%;
  cursor: pointer;
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px;
}

.round label::after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 5px;
  opacity: 0;
  position: absolute;
  top: 5px;
  transform: rotate(-45deg);
  width: 9px;
}

.round input[type=checkbox] {
  visibility: hidden;
}

.round input[type=checkbox]:checked + label {
  background-color: #40AA73;
  border-color: #40AA73;
}

.round input[type=checkbox]:checked + label:after {
  opacity: 1;
}

.radio-content-box {
  padding: 17px;
  border: 1px solid #40AA73;
  border-radius: 3px;
}

.radio-content-box .text-content {
  padding-left: 24px;
}

.radio-content-box .text-content p {
  margin-bottom: 0;
}

.radio-content-box .text-content .title {
  margin-bottom: 9px;
  color: #40AA73;
}

.upload-input-blue {
  color: #005EF5;
  cursor: pointer;
  position: relative;
  margin-top: auto;
  margin-left: 17px;
}
.upload-input-blue input[type=file] {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
}
.upload-input-blue:hover {
  text-decoration: underline;
}

.question-area i {
  color: #C4C4C4;
  font-size: 16px;
  cursor: pointer;
}

div.inputTags-list {
  border-color: #C4C4C4;
  background: #fff;
}

div.inputTags-list span.inputTags-item {
  background: #E4F0E7;
  color: #40AA73;
  border: 1px solid #40AA73;
  padding-right: 31px;
}

div.inputTags-list span.inputTags-item.is-edit {
  border-color: #40AA73;
}

.form-control:focus {
  border-color: rgba(72, 180, 97, 0.2);
  box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.2);
}

.form-section label {
  margin-bottom: 6px !important;
}
.form-section a {
  font-weight: 500;
  text-decoration: none !important;
  display: inline-block;
}

.form-wrapper {
  background: #fff;
  overflow: hidden;
  border-radius: 5px;
  padding: 25px;
}
.form-wrapper .form-container {
  padding-left: 25px;
  padding-right: 25px;
}
.form-wrapper .form-msg {
  padding: 10px 25px;
  background-color: #f6f6f6;
  font-weight: 500;
}
.form-wrapper .warning-msg {
  background-color: #FFE9DD;
  color: #DE4D00;
}
.form-wrapper .success-msg {
  background-color: #E9FAE9;
  color: #34B27E;
}

.btn-form-link {
  border: 1px solid #D6DFE4;
  color: #000;
}
.btn-form-link img {
  width: 21px;
  margin-right: 8px;
  display: inline-block;
}

.custom-hr {
  font-size: 14px;
  position: relative;
  display: block;
  text-align: center;
}
.custom-hr::before {
  content: "";
  position: absolute;
  width: 40%;
  left: 0;
  height: 1px;
  text-align: center;
  top: 50%;
  background-color: #EAEFF1;
}
.custom-hr::after {
  content: "";
  position: absolute;
  width: 40%;
  right: 0;
  height: 1px;
  text-align: center;
  top: 50%;
  background-color: #EAEFF1;
}

.has-field-right-info {
  position: relative;
}
.has-field-right-info input {
  padding-right: 35px;
}
.has-field-right-info .info {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 100%;
  display: block;
  padding: 6px 14px;
}

.img-wrapper {
  height: 100%;
  width: 100%;
}
.img-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.form-box-area {
  border: 1px solid #E9ECF4;
  border-radius: 3px;
}
.form-box-area .form-header {
  border-bottom: 1px solid #E9ECF4;
  position: relative;
}
@media (max-width: 575.98px) {
  .form-box-area .form-header {
    display: block !important;
  }
}
.form-box-area .form-header .text-content {
  padding: 21px 30px;
}
.form-box-area .form-header .sm-title {
  margin-bottom: 0;
}
.form-box-area .form-header p {
  margin-bottom: 0;
}
.form-box-area .form-header .btn-right {
  padding: 20px 27px;
  border: none;
  border-left: 1px solid #E9ECF4;
  border-radius: 0;
  font-size: 14px;
  color: #C4C4C4;
  background: #fff;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.form-box-area .form-header .btn-right span {
  text-align: center;
}
.form-box-area .form-header .btn-right i {
  font-size: 22px;
}
.form-box-area .form-header .btn-left {
  padding: 20px 27px;
  border: none;
  border-right: 1px solid #E9ECF4;
  border-radius: 0;
  font-size: 14px;
  color: #C4C4C4;
  background: #fff;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.form-box-area .form-header .btn-left span {
  text-align: center;
}
.form-box-area .form-header .btn-left span i {
  font-size: 22px;
  margin-bottom: 5px;
}
.form-box-area .form-fotter {
  padding: 21px 30px;
  border-top: 1px solid #E9ECF4;
}
.form-box-area .form-body {
  padding: 21px 30px;
}
.form-box-area .right-content-info {
  height: 100%;
  border-left: 1px solid #E9ECF4;
  padding: 21px 30px;
}
@media only screen and (max-width: 991.98px) {
  .form-box-area .right-content-info {
    border-left: 0px solid #E9ECF4;
    border-top: 1px solid #E9ECF4;
  }
}
.form-box-area .navbar-nav {
  flex-direction: row;
}
@media only screen and (max-width: 991.98px) {
  .form-box-area .navbar-nav {
    flex-direction: column;
  }
}
.form-box-area .navbar-nav .nav-item .nav-link {
  padding: 8px 22px;
  background: #F9F9F9;
  border-right: 1px solid #E9ECF4;
  color: #707070;
  display: block;
}
@media only screen and (max-width: 991.98px) {
  .form-box-area .navbar-nav .nav-item .nav-link {
    border-right: none;
    border-bottom: 1px solid #E9ECF4;
    background-color: #fff;
    padding: 10px 22px;
  }
}

.form-check-input:checked {
  background-color: #47BB7F;
  border-color: #47BB7F;
}

.td-v-top td {
  vertical-align: top !important;
}

.form-group label small {
  display: inline-block;
  font-size: 10px;
  margin-top: 0;
  color: #D86565;
}

@media (max-width: 575.98px) {
  .form-box-area .form-header .btn-right {
    display: block;
    border-top: 1px solid #E9ECF4;
    border-right: none;
    border-left: none;
    padding: 10px 22px;
  }

  .form-box-area .form-header .btn-right span {
    text-align: left;
  }

  .form-box-area .form-header .btn-right i {
    display: inline-block !important;
    vertical-align: middle;
    margin-right: 9px;
  }

  .form-box-area .form-header .setting-area {
    display: inline-block;
  }

  .setting-area.dropdown-area .dropdown-menu {
    right: auto;
  }
}
.content-body {
  padding: 21px 30px;
}

.alert {
  position: relative;
  font-size: 14px;
  line-height: 19px;
}
.alert .btn-close {
  position: absolute;
  right: 11px;
  top: 11px;
}
.alert i {
  font-size: 20px;
}
.alert .close {
  font-size: 15px;
  color: #fff;
  height: 100%;
  opacity: 1;
}

.alert-success {
  border: 1px solid #40AA73;
  background-color: #40AA73;
  color: #FFFFFF;
}
.alert-success .btn-close {
  color: #47C736;
}

.alert-warning {
  border: 1px solid #FF7227;
  background-color: #FFE9DD;
  color: #DE4D00;
}
.alert-warning .btn-close {
  color: #FFFFFF;
}

.alert-danger {
  border: 1px solid #D86565;
  background-color: #D86565;
  color: #FFFFFF;
}
.alert-danger .btn-close {
  color: #FFFFFF;
}

.blog-quote {
  background-color: #E4F2FF;
  border-top: 1px solid #8BC1EC;
  border-bottom: 1px solid #8BC1EC;
  padding: 23px 26px;
  color: #8BC1EC;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
}

.callout {
  border: 1px solid #C6C6C6;
  border-left-width: 4px;
  padding: 20px 23px;
  position: relative;
}
.callout p {
  margin-bottom: 0;
}
.callout .btn-area {
  position: absolute;
  right: 0;
  top: 0;
}

.callout-blue {
  border-left-color: var(--color-blue);
}

.list-group a {
  display: block;
  padding: 17px 23px;
  font-size: 14px;
  line-height: 19px;
  color: #72848D;
  text-decoration: none;
}

.status-bar {
  background-color: #EFEFEF;
  border: 1px solid #C6C6C6;
  display: inline-block;
  font-size: 12px;
  line-height: 15px;
  padding: 7px 10px;
  color: #72848D;
  min-width: 63px;
  text-align: center;
  margin: 2px 0;
  font-weight: bold;
  border-radius: 3px;
}

.status-bar.active {
  background: #FF9300;
  border: 1px solid #FF9300;
  color: #fff;
}

.status-bar.inactive {
  background: #C4C4C4;
  border: 1px solid #C4C4C4;
  color: #fff;
}

.status-bar.has-right {
  position: relative;
  padding-right: 50px;
}

.status-bar.has-right .right-count {
  position: absolute;
  right: 10px;
}

.status-bar.lg-bar {
  min-width: 78px;
}

.status-bar.success {
  border-color: #FCF1C6;
  background-color: #FCF1C6;
  color: #FF9300;
}

.status-bar.teal {
  border-color: #E4F0E7;
  background-color: #E4F0E7;
  color: #40AA73;
}

.status-bar.blue {
  border-color: #E8EFFF;
  background-color: #E8EFFF;
  color: #005EF5;
}

.status-bar.indigo {
  border-color: #F2E3FE;
  background-color: #F2E3FE;
  color: #F500C6;
}

.status-bar.red {
  border-color: #FFEFEF;
  background-color: #FFEFEF;
  color: #E7253A;
}

.status-bar.yellow {
  border-color: #47C736;
  background-color: #47C736;
  color: #ffff;
}

.status-bar.warning {
  border-color: #FF7227;
  background-color: #FFF1EA;
  color: #FF7227;
}

.text-status {
  display: inline-block;
  font-size: 12px;
  line-height: 15px;
  color: #72848D;
  min-width: 63px;
  text-align: center;
  margin: 2px 0;
  font-weight: bold;
  border-radius: 3px;
}
.text-status i {
  font-size: 24px;
  width: 28px;
  vertical-align: middle;
}

.text-status.success {
  color: #FF9300;
}

.text-status.teal {
  color: #40AA73;
}

.text-status.blue {
  color: #005EF5;
}

.text-status.indigo {
  color: #F500C6;
}

.text-status.red {
  color: #E7253A;
}

.text-status.yellow {
  color: #47C736;
}

.text-status.warning {
  color: #FF7227;
}

.round-50 {
  border-radius: 50px;
}

.data-lists {
  padding: 0;
  margin: 0;
  list-style: none;
}
.data-lists .list-item {
  padding: 11px;
  border: 1px solid #C6C6C6;
  border-radius: 5px;
  margin-bottom: 10px;
}

.block-quote {
  padding: 16px 27px;
  border: 1px solid #eee;
  color: #000000;
  border-radius: 5px;
}
.block-quote i {
  color: #72848D;
}

.block-quote.success {
  border-color: #C9C9C9;
  background-color: #FFFEF5;
}

.light-box {
  padding: 15px;
  border: 1px solid #eee;
}
.light-box h6 .icon-btn {
  height: 26px;
  width: 26px;
  padding: 0;
  font-size: 15px;
}

.info-sm-box {
  background-color: #F7F7F7;
  padding: 5px 12px;
}
.info-sm-box p {
  margin-bottom: 0;
}

.hire-proc-lists {
  padding: 0;
  margin: 0;
  list-style: none;
}
.hire-proc-lists li {
  display: block;
}

.hire-proc-lists .list-item {
  margin-bottom: 7px;
}

.portlet-placeholder {
  height: 45px;
  width: 100%;
  border: 1px dotted #eee;
  margin: 5px 0;
  background-color: #FFFDFD;
}

.sortable-handler {
  padding: 4px;
  cursor: all-scroll;
}

.ui-sortable-helper .sortable-handler {
  cursor: grabbing;
}

.selected-val-lists {
  padding: 0;
  margin: 0;
  list-style: none;
}
.selected-val-lists li {
  display: inline-block;
  margin: 2px;
  color: #1358F9;
  border: 1px solid #1358F9;
  border-radius: 3px;
  padding: 3px 11px;
  font-size: 12px;
  line-height: 15px;
}

.selected-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.selected-list li {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 5px;
}
.selected-list li i.fa-check-circle {
  color: #47C736;
}

.highlight-box {
  border: 1px solid #eee;
  display: block;
  margin: -10px;
}

.page-sidebar-right-area {
  border-left: 1px solid #EFEFEF;
  height: 100%;
}
.page-sidebar-right-area .sidebar-item {
  padding: 0 25px;
  border-bottom: 1px solid #EFEFEF;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.has-right-abs-c {
  position: relative;
}
.has-right-abs-c .right-abs-btn {
  position: absolute;
  right: 0;
  top: 0;
}

.avater-lists {
  padding: 0;
  margin: 0;
  list-style: none;
}
.avater-lists .avater-item {
  width: 37px;
  height: 37px;
  position: relative;
  padding: 0 !important;
}
.avater-lists .avater-item .avater-sm-thumb, .avater-lists .avater-item .total-number {
  height: 100%;
  width: 100%;
  line-height: 36px;
  display: block;
  text-align: center;
}

.avater-lists .avater-item:nth-child(2) {
  left: -5px;
}

.avater-lists .avater-item:nth-child(3) {
  left: -10px;
}

.avater-lists .avater-item:nth-child(4) {
  left: -15px;
}

.avater-lists .avater-item:nth-child(5) {
  left: -13px;
}

.content-container-pd {
  padding: 10px 30px;
  padding-top: 18px;
}

.dropdown-area {
  position: relative;
}
.dropdown-area .dropdown-menu {
  width: 332px;
  border: 1px solid #F0F0F0;
  left: auto;
  right: -10px;
  top: calc(100%);
  padding: 15px;
}
@media (max-width: 575.98px) {
  .dropdown-area .dropdown-menu {
    width: 250px;
  }
}
.dropdown-area .dropdown-menu .dropdown-item {
  font-size: 14px;
  line-height: 24px;
  padding: 7px 15px;
  border-radius: 3px;
}
.dropdown-area .dropdown-menu .dropdown-item i {
  width: 28px;
  font-size: 16px;
}
.dropdown-area .dropdown-menu .dropdown-item:hover {
  background-color: #F9F9F9;
}
.dropdown-area .dropdown-menu .dropdown-item:active {
  color: #fff;
  background-color: #0d6efd;
}

.setting-area .dropdown-item {
  color: #005EF5;
}

.project-info-wrapper .project-item {
  padding: 20px 30px;
  border-right: 1px solid #F0F0F0;
  height: 100%;
}
@media only screen and (max-width: 767.98px) {
  .project-info-wrapper .project-item {
    border-right: none;
    border-top: 1px solid #F0F0F0;
  }
}
.project-info-wrapper .project-item .status-bar, .project-info-wrapper .project-item .text-status {
  width: 100%;
}
@media only screen and (max-width: 767.98px) {
  .project-info-wrapper .project-item .status-bar, .project-info-wrapper .project-item .text-status {
    width: auto;
  }
}
@media only screen and (max-width: 991.98px) {
  .project-info-wrapper .project-item.lg-item {
    border-right: none;
    border-top: 1px solid #F0F0F0;
  }
}

.text-date {
  padding: 7px 10px;
}
.text-date i {
  font-size: 18px;
}

.add-member-wrapper .add-member-btn {
  font-size: 42px;
  color: #C4C4C4;
  background-color: transparent;
  border-color: transparent;
  padding: 0;
  margin: 0;
  margin-right: 10px;
}
.add-member-wrapper .avater-item {
  left: 0 !important;
  margin-right: 7px;
}
.add-member-wrapper .avater-item .avater-sm-thumb {
  background-color: #000;
  color: #fff;
  line-height: 39px;
  min-height: 39px;
  min-width: 39px;
}

.add-member-area {
  position: relative;
}
.add-member-area .custom-dropdown-area {
  position: absolute;
  left: calc(100%);
  top: 0;
}
@media (max-width: 575.98px) {
  .add-member-area .custom-dropdown-area {
    top: 100%;
    left: 0;
  }
}

.custom-dropdown-area {
  width: 379px;
  border: 1px solid #2A518C;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  z-index: 120;
  display: none;
}
@media (max-width: 575.98px) {
  .custom-dropdown-area {
    width: 300px;
  }
}
.custom-dropdown-area .header {
  padding: 16px 25px;
  border-bottom: 1px solid #2A518C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.custom-dropdown-area .header p {
  margin-bottom: 0;
  margin-right: auto;
  font-weight: bold;
}
.custom-dropdown-area .header .close-btn {
  color: #707070;
}
.custom-dropdown-area .body {
  padding: 16px 25px;
}
.custom-dropdown-area .body .btn {
  border-radius: 1px;
}

.add-member-area.open .custom-dropdown-area {
  display: block;
}

.ui-draggable-handle {
  cursor: all-scroll;
}

.project-manage-area .title {
  font-weight: bold;
  color: #707070;
  margin-bottom: 5px;
}
.project-manage-area .title small {
  font-size: 10px;
  color: #D86565;
  font-weight: normal;
  margin-left: 5px;
  display: inline-block;
}

.form-body.info-lg-text-box {
  border-right: 1px solid #E9ECF4;
  height: 100%;
}
@media only screen and (max-width: 991.98px) {
  .form-body.info-lg-text-box {
    border-right: 0px solid #E9ECF4;
    border-top: 1px solid #E9ECF4;
  }
}

.form-body.brb-lg {
  border-bottom: 1px solid #E9ECF4;
}
@media only screen and (max-width: 991.98px) {
  .form-body.brb-lg {
    border-bottom: 0px solid #E9ECF4;
  }
}

.custom-dropdown-wrapper {
  position: relative;
}
.custom-dropdown-wrapper .custom-dropdown-area {
  left: auto;
  right: 0;
  position: absolute;
}
@media only screen and (max-width: 767.98px) {
  .custom-dropdown-wrapper .custom-dropdown-area {
    right: auto;
    left: 0;
  }
}
.custom-dropdown-wrapper .dropdown-link {
  display: block;
  color: #707070;
  text-decoration: none;
  font-size: 14px;
  border: 1px solid #E9ECF4;
  padding: 7px 12px;
  border-radius: 3px;
  position: relative;
  z-index: 10;
}
.custom-dropdown-wrapper .dropdown-link i {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: #C4C4C4;
}

.custom-dropdown-wrapper.open .custom-dropdown-area {
  display: block;
}

.table-info-wrapper .custom-dropdown-wrapper .custom-dropdown-area {
  border-color: #E9ECF4;
  box-shadow: none;
}

.count--icon {
  text-align: center;
  display: inline-block;
  font-size: 22px;
}
.count--icon i {
  display: block;
  font-size: 38px;
  margin-bottom: 5px;
}

.form-box-area .content-body .text-content p {
  margin-bottom: 5px;
}

.form-box-area .content-body {
  border-bottom: 1px solid #E9ECF4;
}
.form-box-area .content-body:last-child {
  border-bottom: none;
}

.select--dropdown--area {
  position: relative;
  max-width: 336px;
}
.select--dropdown--area .result-area {
  background: #F9F9F9;
  border: 1px solid #D9DFEB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  color: #707070;
  padding: 10px;
  position: relative;
}
.select--dropdown--area .result-area::before {
  content: "";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 10px;
  font-size: 25px;
  color: #C4C4C4;
  line-height: 0;
  height: 13px;
}
.select--dropdown--area .result-area .result {
  margin-right: 15px;
}
.select--dropdown--area .status-bar {
  color: #fff;
}
.select--dropdown--area .data-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #fff;
  border: 1px solid #D9DFEB;
  padding: 16px;
  margin: 0;
  list-style: none;
  -webkit-transform: scaleY(0.2);
  -ms-transform: scaleY(0.2);
  transform: scaleY(0.2);
  -webkit-transition: all 0.15s;
  -o-transition: all 0.15s;
  transition: all 0.15s;
  transform-origin: top;
  opacity: 0;
  visibility: hidden;
}
.select--dropdown--area .data-list .list-item {
  cursor: pointer;
  margin-bottom: 10px;
}

.select--dropdown--area.open .data-list {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
}

.mxw-100 {
  max-width: 100%;
}

.published-bg {
  background-color: #40AA73;
  border-color: #40AA73;
}

.sec-to-pub-bg {
  background-color: #47BB7F;
  border-color: #47BB7F;
}

.draft-bg {
  background-color: #FF9300;
  border-color: #FF9300;
}

.archieve-bg {
  background-color: #707070;
  border-color: #707070;
}

.edit-bg {
  background-color: #005EF5;
  border-color: #005EF5;
}

.withdraw-bg {
  background-color: #000000;
  border-color: #000000;
}

.delete-bg {
  background-color: #F80000;
  border-color: #F80000;
}

.navbar-blue {
  padding: 0;
  margin: 0;
  list-style: none;
}
.navbar-blue .nav-item {
  display: inline-block;
}
.navbar-blue .nav-item .nav-link {
  display: inline-block;
}
.navbar-blue .nav-item .nav-link i {
  margin-right: 10px;
  display: inline-block;
}

.content-box-area {
  padding: 15px 27px;
  border: 1px solid #E9ECF4;
  border-radius: 3px;
}

.comment-content-item {
  padding: 27px;
  border: 1px solid #E9ECF4;
  border-radius: 3px;
  margin-bottom: 28px;
}
.comment-content-item p {
  color: #000;
  font-size: 14px;
  line-height: 24px;
}
.comment-content-item .left-info .avater-sm-thumb {
  min-height: 39px;
  min-width: 39px;
  margin-top: 6px;
}
.comment-content-item .date {
  text-transform: uppercase;
}
.comment-content-item .right-info {
  margin-left: 35px;
}

body.open-sidebar {
  overflow: hidden !important;
}

.sidebar-nav-overly {
  position: fixed;
  height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
  background: rgba(237, 237, 237, 0.7);
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
}

.sidebar-nav-overly.open {
  opacity: 1;
  visibility: visible;
}

.sidebar-popup-area {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  background: #fff;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: cubic-bezier(0.45, 0.05, 0.55, 0.95) all 0.35s;
  -o-transition: cubic-bezier(0.45, 0.05, 0.55, 0.95) all 0.35s;
  transition: cubic-bezier(0.45, 0.05, 0.55, 0.95) all 0.35s;
  opacity: 0;
  visibility: hidden;
  z-index: 1200;
  width: 662px;
  border-left: 1px solid #C9C9C9;
  z-index: 1500;
}
.sidebar-popup-area .close-btn {
  display: block;
  color: #fff;
  font-size: 18px;
  background-color: #000000;
  width: 36px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  position: absolute;
  right: 100%;
  top: 33px;
}
@media only screen and (max-width: 479px) {
  .sidebar-popup-area .close-btn {
    right: auto;
    left: 0;
    top: 15px;
  }
}
@media only screen and (max-width: 767.98px) {
  .sidebar-popup-area {
    width: 450px;
  }
}
@media (max-width: 575.98px) {
  .sidebar-popup-area {
    width: 400px;
    padding: 30px 0;
  }
}
@media only screen and (max-width: 479px) {
  .sidebar-popup-area {
    width: 100%;
  }
}
.sidebar-popup-area .header-part h4 {
  font-size: 18px;
  margin-bottom: 0;
  line-height: 24px;
  margin-bottom: 15px;
  font-weight: 400;
}
.sidebar-popup-area .sidebar-nav-body {
  text-align: left;
  padding: 32px 40px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
}
.sidebar-popup-area .sidebar-nav-body h5 {
  font-size: 23px;
  line-height: 29px;
}
@media (max-width: 575.98px) {
  .sidebar-popup-area .sidebar-nav-body {
    padding: 30px;
  }
  .sidebar-popup-area .sidebar-nav-body h5 {
    font-size: 20px;
  }
}
.sidebar-popup-area #ui-datepicker-div {
  top: 100% !important;
  left: 0 !important;
  transform: translateX(0);
  position: absolute !important;
}
.sidebar-popup-area .input-field input {
  height: 65px;
  padding: 13px 30px;
  border: 1px solid #EAE9F2;
  border-radius: 10px;
}

.sidebar-popup-area.open {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

table .avater-area {
  min-width: 200px;
}

table.dataTable thead .sorting::after {
  opacity: 0;
}

table.dataTable thead .sorting_desc::after, table.dataTable thead .sorting_asc::after {
  content: "";
  opacity: 0;
}

.dataTables_wrapper {
  position: relative;
}

.dataTables_wrapper .row:nth-child(3) .col-sm-6:nth-child(1) {
  display: none;
}

.dataTables_wrapper .row:nth-child(1) .col-sm-6:nth-child(1) {
  position: absolute;
  bottom: 0;
  right: 0;
  width: auto;
}

.dataTables_wrapper .row:nth-child(1) .col-sm-6:nth-child(2) {
  overflow: hidden;
}

.dataTables_wrapper .row:nth-child(1) .col-sm-6:nth-child(2) .dataTables_filter {
  display: flex;
  align-items: center;
  padding: 4px 0;
}
.dataTables_wrapper .row:nth-child(1) .col-sm-6:nth-child(2) .dataTables_filter label {
  color: transparent;
  position: relative;
}
.dataTables_wrapper .row:nth-child(1) .col-sm-6:nth-child(2) .dataTables_filter label::before {
  content: "";
  font-family: "Font Awesome 5 Pro";
  font-weight: 700;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #C9C9C9;
  left: 72px;
}
.dataTables_wrapper .row:nth-child(1) .col-sm-6:nth-child(2) .dataTables_filter label input {
  color: #000;
  border-radius: 5px;
  border-color: #D6DFE4;
  font-size: 14px;
  padding-left: 40px;
  width: 221px;
}

.table-info-area .dataTables_wrapper .row:nth-child(3) .col-sm-6:nth-child(2) {
  margin-top: 10px;
}

.table-info-area .dataTables_wrapper .row:nth-child(1) .col-sm-6:nth-child(2) {
  margin-bottom: 10px;
}

.tbl-search-right .dataTables_wrapper .row:nth-child(1) .col-sm-6:nth-child(2) {
  margin-left: auto;
}
.tbl-search-right .dataTables_wrapper .row:nth-child(1) .col-sm-6:nth-child(2) div.dataTables_filter label {
  margin-left: auto;
  left: 0;
}

.tbl-style-3 th, .tbl-style-3 td {
  vertical-align: middle;
  border-right: 1px solid #D6DFE4;
}
.tbl-style-3 .job-info {
  padding-right: 61px;
  min-width: 250px;
}

.table-info-area td, .table-info-area th {
  vertical-align: middle;
  padding: 10px 30px !important;
}
.table-info-area td {
  border-bottom: 1px solid #E9ECF4;
}
.table-info-area tr:last-child td {
  border-bottom: none;
}
.table-info-area th {
  border-top: 1px solid #E9ECF4;
  text-transform: uppercase;
}

.table-info-wrapper .dataTables_wrapper .row:nth-child(1) .col-sm-6:nth-child(2) {
  position: absolute;
  top: -58px;
  right: 18px;
  width: auto;
}

.table-info-area th {
  background: #F9F9F9;
}

.d-none-pagination .dataTables_wrapper .row:nth-child(1) .col-sm-6:nth-child(1) {
  display: none;
}

.d-none-short .dataTables_wrapper .row:nth-child(3) .col-sm-6:nth-child(2) {
  display: none;
}

.table-info-wrapper {
  border: 1px solid #ddd;
  border-radius: 3px;
  position: relative;
}
.table-info-wrapper .sm-sort.form-group {
  position: absolute;
  top: 29px;
  right: 266px;
  width: 141px;
}
@media only screen and (max-width: 767.98px) {
  .table-info-wrapper .sm-sort.form-group {
    position: relative;
    right: 0;
    top: 0;
    margin-top: 12px;
    width: 221px;
  }
}

@media only screen and (max-width: 767.98px) {
  .table-info-wrapper .dataTables_wrapper .row:nth-child(1) .col-sm-6:nth-child(2) {
    right: auto;
    left: 0;
    top: -47px;
  }

  .table-info-wrapper .dataTables_wrapper .row:nth-child(1) .col-sm-6:nth-child(2) .dataTables_filter {
    left: -39px;
    position: relative;
  }

  .table-info-wrapper .dataTables_wrapper {
    margin-top: 43px;
  }
}
.table-info-wrapper.has-pagination .dataTables_wrapper .row:nth-child(3) {
  position: absolute;
  bottom: -53px;
}

.table-info-wrapper.has-pagination .dataTables_wrapper .row:nth-child(1) .col-sm-6:nth-child(1) {
  position: absolute;
  bottom: -52px;
  right: 0;
  width: auto;
}

.subscribe-table td {
  vertical-align: middle;
  padding: 20px 30px;
  border-bottom: 1px solid #E9ECF4;
}

.subscribe-table tr:last-child td {
  border-bottom: none;
}

.subscribe-table .subscribe-info i {
  font-size: 38px;
  margin-top: 4px;
}

.subscribe-table .subscribe-info .text-info p {
  color: #000;
  margin-bottom: 0;
}

.subscribe-table .subscribe-info .text-info span {
  color: #707070;
}

.subscribe-table .subscribe-info .text-info {
  padding-left: 17px;
}

.subscribe-table .btn.arrow-btn {
  padding: 10px;
  font-size: 18px;
  color: #707070;
}

.form-select-left {
  position: relative;
}

.form-select-left::before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  right: 11px;
  position: absolute;
  top: 8px;
  font-size: 19px;
}

.form-select-left select {
  padding-right: 32px;
}

.table {
  width: 100%;
}
.table td {
  vertical-align: middle;
}

.embed-code-item:nth-child(2n+2) {
  background: #F4FFF9;
}
.embed-code-item .embed-code-header {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 0;
}

.code-body {
  padding: 24px 20px;
  border: 1px solid #E9ECF4;
  color: #000000;
  font-size: 14px;
  line-height: 24px;
  background: #FFF;
  height: 168px;
  overflow-y: auto;
  overflow-x: hidden;
}
.code-body pre {
  margin-bottom: 0;
}
.datepicker td, .datepicker th {
  padding: 5px 9px !important;
  border-radius: 3px;
  font-weight: 500;
  font-size: 12px;
}

.datepicker table tr td.active.active {
  background: #47BB7F;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
}

.input-datepicker {
  position: relative;
  cursor: pointer;
}
.input-datepicker i {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 13px;
  font-size: 16px;
  color: #C4C4C4;
  pointer-events: none;
}

.color-box {
  width: 41px;
  height: 35px;
  background: #FFEFEF;
  display: block;
  border: 1px solid #C4C4C4;
  border-radius: 3px;
  cursor: pointer;
}

.color-text-bar {
  height: 35px;
  width: 100%;
  border: 1px solid #C4C4C4;
  color: #C4C4C4;
  padding: 6px 17px;
  border-radius: 3px;
}

.color-pic-box {
  display: block;
  border: 1px solid #C4C4C4;
  border-radius: 0px;
  width: 350px;
  padding: 24px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  background: #fff;
  z-index: 999;
}
.color-pic-box ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
  margin-bottom: -11px;
}
.color-pic-box ul li {
  width: 16.666667%;
  flex: 0 0 auto;
  padding: 0 5px;
  margin-bottom: 11px;
}

.release-color-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.release-color-list .color-field-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 11px;
}
.release-color-list .color-field-item .color-box {
  margin-left: 10px;
}
.release-color-list .color-field-item .btn {
  padding: 7px 22px;
}

.release-color-pic-area {
  position: relative;
}
.release-color-pic-area .color-pic-box {
  position: absolute;
  margin-left: 54px;
  -webkit-transition: all 0.15s;
  -o-transition: all 0.15s;
  transition: all 0.15s;
  -webkit-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  transform: scaleY(0.5);
  transform-origin: top;
  opacity: 0;
  visibility: hidden;
}
.release-color-pic-area .color-pic-box.open {
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
  transform-origin: top;
  opacity: 1;
  visibility: visible;
}

.module-area {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1500;
  background: #fff;
  display: none;
}

.module-area.open {
  display: block;
}

.book-card {
  border: 1px solid #E9ECF4;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}
.book-card .top-info {
  min-height: 150px;
  padding: 17px 25px;
  text-decoration: none !important;
}
.book-card .top-info .avater-sm-thumb {
  max-height: 39px;
  max-width: 39px;
}
.book-card .top-info small {
  font-size: 12px;
  color: #707070;
  display: block;
  margin-bottom: 5px;
}
.book-card .top-info h6 {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0;
}
.book-card .top-info p {
  font-size: 14px;
  color: #000;
  font-weight: normal;
}
.book-card .top-info .arrow-btn {
  color: #707070;
  font-size: 18px;
}
.book-card .top-info .arrow-btn {
  font-size: 14px;
  padding: 4px 1px;
  width: 57px;
}
@media (max-width: 575.98px) {
  .book-card .top-info .arrow-btn {
    width: 100%;
  }
}
.book-card .top-info .arrow-btn i {
  font-size: 22px;
}
@media (max-width: 575.98px) {
  .book-card .top-info .arrow-btn i {
    vertical-align: middle;
    margin-right: 8px;
  }
}
.book-card a.top-info:hover {
  background-color: #f9f8f8;
}
.book-card .bottom-info {
  border-top: 1px solid #E9ECF4;
  padding: 0;
  margin: 0;
  list-style: none;
}
.book-card .bottom-info .nav-item {
  display: block;
  padding: 7px 18px;
  border-right: 1px solid #E9ECF4;
  font-size: 18px;
  color: #707070;
}
.book-card .bottom-info .nav-item:hover {
  background-color: #f7f7f7;
}
.book-card .bottom-info li {
  position: relative;
}
.book-card .bottom-info li.right-list a {
  border-right: none;
  border-left: 1px solid #E9ECF4;
}
.book-card .bottom-info .dropdown_menu {
  position: absolute;
  right: 0;
  top: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  border: 1px solid #DFE3E9;
  width: 125px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
  display: none;
  background-color: #fff;
  z-index: 10;
}
.book-card .bottom-info .dropdown_menu li {
  display: block;
}
.book-card .bottom-info .dropdown_menu li a {
  color: #354052;
  display: block;
  text-decoration: none !important;
  padding: 13px;
  border-bottom: 1px solid #DFE3E9;
}
.book-card .bottom-info .dropdown_menu li a:hover {
  color: #2EA2F8;
  background-color: #F1F4F8;
}
.book-card .bottom-info .dropdown_menu li:last-child a {
  border-bottom: none;
}
.book-card .bottom-info .dropdown_menu.offset-left {
  right: auto;
  left: 0;
  width: 190px;
}
.book-card .bottom-info li:hover .dropdown_menu {
  display: block;
}

.lg-book-card .top-info {
  padding: 0;
  min-height: auto;
}
.lg-book-card .top-info .top-left-info {
  padding: 17px 25px;
  position: relative;
}
.lg-book-card .top-info .top-left-info .thumb-area {
  padding-top: 6px;
  padding-right: 14px;
}
.lg-book-card .top-info .right-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.lg-book-card .top-info .right-list li {
  padding: 17px 25px;
  border-left: 1px solid #E9ECF4;
}
@media (max-width: 575.98px) {
  .lg-book-card .top-info .right-list li {
    border-left: 0px;
    border-top: 1px solid #E9ECF4;
  }
}
.lg-book-card .top-info .right-list li p {
  margin-bottom: 5px;
  color: #707070;
  font-size: 14px;
}
.lg-book-card .top-info .right-list li .arrow-btn {
  text-decoration: none;
  text-align: center;
  display: block;
  color: #CCCCCC;
}
@media (max-width: 575.98px) {
  .lg-book-card .top-info .right-list li .arrow-btn {
    text-align: left;
  }
}
.lg-book-card .top-info .right-list li .arrow-btn i {
  display: block;
}
@media (max-width: 575.98px) {
  .lg-book-card .top-info .right-list li .arrow-btn i {
    display: inline-block;
  }
}
.lg-book-card .bottom-info .right-nav {
  padding: 0;
  margin: 0;
  list-style: none;
}

.hide-table-footer .dataTables_wrapper .row:nth-child(3) .col-sm-6:nth-child(2) {
  display: none;
}

.hide-table-footer .dataTables_wrapper .row:nth-child(1) .col-sm-6:nth-child(1) {
  display: none;
}

.thumbs {
  height: 54px;
  width: 50px;
  border: 1px solid #D9DFEB;
  display: inline-block;
  text-align: center;
  line-height: 24px;
  padding: 10px 0;
  font-size: 16px;
  border-radius: 6px;
}
.thumbs i {
  display: block;
  width: 100%;
  font-size: 18px;
}

.search_wrap {
  position: relative;
}
.search_wrap button {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: transparent;
  border-color: transparent;
  font-size: 18px;
  color: #C4C4C4;
}
.search_wrap input {
  border: 1px solid #C4C4C4;
  padding: 8px 35px;
  border-radius: 5px;
}

.info__box {
  border: 1px solid #E9ECF4;
}
.info__box .header {
  padding: 20px;
  border-bottom: 1px solid #E9ECF4;
}
.info__box .footer {
  padding: 20px;
}

.tab_area .nav {
  border-bottom: 1px solid #E9ECF4;
}
.tab_area .nav .nav-item .nav-link {
  border-radius: 0;
  border-right: 1px solid #D9DFEB;
  min-width: 119px;
  text-align: center;
}
.tab_area .nav .nav-item .active.nav-link {
  font-weight: bold;
  border-bottom: 1px solid #005EF5;
  color: #005EF5;
}
.tab_area .main_content {
  border-bottom: 1px solid #D9DFEB;
  padding: 5px 20px;
}
.tab_area .container-wrapper {
  padding: 30px;
}
@media only screen and (max-width: 767.98px) {
  .tab_area .container-wrapper {
    padding: 20px;
  }
}

.info__list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.info__list .list-item {
  border: 1px solid #E9ECF4;
  padding: 10px;
  border-radius: 3px;
}
.info__list .list-item p {
  margin-bottom: 0;
}
.info__list .list-item .icon-btn {
  color: #707070;
}
.info__list .list-item .text-status {
  font-weight: normal;
}
.info__list .list-item .text-status i {
  font-size: 12px;
}

.avater__wrapper p {
  font-weight: bold;
  line-height: 15px;
}
.avater__wrapper small {
  font-size: 12px;
  line-height: 15px;
}

.table-info-wrapper .footer {
  padding: 20px;
  border-top: 1px solid #E9ECF4;
}

.board-intro {
  color: #000000;
  font-size: 16px;
  line-height: 24px;
}
.board-intro p {
  margin-bottom: 25px;
}

.box-card2 {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 40px 30px;
  height: 100%;
}
.box-card2 img {
  margin-bottom: 25px;
}
.box-card2 p {
  color: #000;
  margin-bottom: 25px;
}

.footer-area {
  border-top: 1px solid #eee;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding-top: 22px;
  padding-bottom: 22px;
  background-color: #ffff;
  z-index: 1000;
  position: relative;
}
.footer-area p {
  margin-bottom: 0;
  font-size: 12px;
  line-height: 16px;
  color: #72848D;
}
.footer-area p a {
  color: #72848D;
  text-decoration: none;
}
.footer-area p a:hover {
  color: var(--color-blue);
}

.bottom-fiexd {
  position: fixed;
  border: 0;
  width: 100%;
  left: 0;
  border-top: 1px solid #eee;
  z-index: 1000;
}

/*# sourceMappingURL=style.css.map */


#subscribe .container-fluid .row h2
{
  font-size: 16px;
  margin-top: -155px;
  margin-bottom: 239px;
  margin-left: 1px;
}
#subscribe .container-fluid .row .polo
{
  text-decoration: none;
  font-size: 16px;
  margin-top: -135px;
  margin-bottom: 239px;
  color: blue;
  cursor: pointer;
}
#subscribe .container-fluid .row h4
{
  text-decoration: none;
  font-size: 16px;
  margin-top: -125px;
  margin-bottom: 239px;
  color: blue;
  cursor: pointer;
}

#subscribe #table .row .col-md-12 table
{
  margin-bottom: 240px;
  margin-top: -222px;
  border-left: 1px solid #DEE2E6;
  border-right: 1px solid #DEE2E6;
}

#subscribe #table .row .col-md-12 table tbody td .goal
{
  border: 1px solid blue;
  border-radius: 15px;
  background: #fff;
  color: blue;
  font-weight: bold;
}

#subscribe #table .row .col-md-12 table th .trans 
{
  background: #fff;
  margin-right: -5px; 
  outline: none;
  border: none;
  color: #e3e3e3;
}