.book-card{
	border: 1px solid #E9ECF4;   
	box-shadow: 0 1px 4px rgba(0,0,0,.1);  
	.top-info{
		min-height: 150px;  
		padding: 17px 25px; 
		text-decoration: none !important; 
		.avater-sm-thumb{ 
			max-height: 39px;  
			max-width: 39px;
		}
		small{
			font-size: 12px;
			color: #707070; 
			display: block;
			margin-bottom: 5px; 
		}
		h6{
			font-size: 16px;
			line-height: 24px;
			margin-bottom: 0;
		}
		p{
			font-size: 14px;
			color: #000;
			font-weight: normal; 
		}
		.arrow-btn{
			color: #707070;
			font-size: 18px; 
		}
		.arrow-btn{
			font-size: 14px; 
			padding: 4px 1px;
			width: 57px; 
			@media #{$sm_device}{
				width: 100%; 
			}
			i{
				font-size: 22px; 
				@media #{$sm_device}{
					vertical-align: middle; 
					margin-right: 8px;  
				}
			}
		} 	
	}
	a.top-info{ 
		&:hover{
			background-color: #f9f8f8;  
		}
	}
	.bottom-info{
		border-top: 1px solid #E9ECF4;  
		padding: 0;
		margin: 0;
		list-style: none; 
		.nav-item{
			display: block;
			padding: 7px 18px; 
			border-right: 1px solid #E9ECF4; 
			font-size: 18px; 
			color: #707070;  
			&:hover{
				background-color: #f7f7f7; 
			}
		}
		li{
			position: relative;
		}
		li.right-list{
			a{
				border-right: none;
				border-left: 1px solid #E9ECF4;  
			}
		}
		.dropdown_menu{
			position: absolute;
			right: 0;
			top: 100%;
			padding: 0;
			margin: 0;
			list-style: none;
			border:1px solid #DFE3E9; 
			width: 125px; 
			box-shadow: 0 1px 4px rgba(0,0,0, .08); 
			display: none; 
			background-color: #fff; 
			z-index: 10; 
			li{
				display: block;
				a{
					color: #354052;
					display: block;
					text-decoration: none !important; 
					padding: 13px; 
					border-bottom: 1px solid #DFE3E9;
					&:hover{
						color: #2EA2F8;
						background-color: #F1F4F8;
					}
				}
				&:last-child{
					a{
						border-bottom: none; 
					}
				}
			}
		}
		.dropdown_menu.offset-left{ 
			right: auto;
			left: 0; 
			width: 190px;
		}
		li{
			&:hover{
				.dropdown_menu{
					display: block; 
				}
			}
		}
	}
}
.lg-book-card{
	.top-info{
		padding: 0;
		min-height: auto; 
		.top-left-info{
			padding: 17px 25px;   
			position: relative;
			.thumb-area{ 
				padding-top: 6px;
				padding-right: 14px;
			}
		}
		.right-list{
			padding: 0;
			margin: 0;
			list-style: none; 
			li{
				padding: 17px 25px;
				border-left: 1px solid #E9ECF4; 
				@media #{$sm_device}{
					border-left: 0px;
					border-top: 1px solid #E9ECF4; 
				}
				p{
					margin-bottom: 5px; 
					color: #707070;
					font-size: 14px; 
				}
				.arrow-btn{
					text-decoration: none;
					text-align: center;
					display: block; 
					color: #CCCCCC;  
					@media #{$sm_device}{
						text-align: left; 
					}
					i{
						display: block;
						@media #{$sm_device}{
							display: inline-block;
						}
					}
				}
			}
		}
	}
	.bottom-info{
		.right-nav{
			padding: 0;
			margin: 0;
			list-style: none;
		}
	}
}