.hide-table-footer .dataTables_wrapper .row:nth-child(3) .col-sm-6:nth-child(2) {
	display: none;
}
.hide-table-footer .dataTables_wrapper .row:nth-child(1) .col-sm-6:nth-child(1){ 
	display: none;
}
.thumbs{ 
	height: 54px;
	width: 50px;
	border: 1px solid #D9DFEB;
	display: inline-block;
	text-align: center;
	line-height: 24px;
	padding: 10px 0;
	font-size: 16px; 
	border-radius: 6px; 
	i{
		display: block;
		width: 100%;
		font-size: 18px;
	}
}
.search_wrap{
	position: relative;
	button{
		position: absolute;
		top: 50%;
		left: 0;
		@include transform(translateY(-50%)); 
		background-color: transparent;
		border-color: transparent; 
		font-size: 18px;
		color: #C4C4C4; 
	}
	input{
		border:1px solid #C4C4C4;
		padding: 8px 35px;  
		border-radius: 5px;
	}
}
.info__box{ 
	border:1px solid #E9ECF4; 
	.header{
		padding: 20px; 
		border-bottom: 1px solid #E9ECF4; 
	}
	.footer{
		padding: 20px; 
	}
}
.tab_area{
	.nav{
		border-bottom: 1px solid #E9ECF4; 
		.nav-item{
			.nav-link{
				border-radius: 0; 
				border-right: 1px solid #D9DFEB; 
				min-width: 119px; 
				text-align: center; 
			}
			.active.nav-link{
				font-weight: bold;
				border-bottom: 1px solid #005EF5; 
				color: #005EF5; 
			}
		}
	}
	.main_content{
		border-bottom: 1px solid #D9DFEB; 
		padding: 5px 20px;  
	}
	.container-wrapper{
		padding: 30px; 
		@media #{$md_device}{
			padding: 20px;
		}
	}
}
.info__list{
	padding: 0;
	margin: 0;
	list-style: none;
	.list-item{
		border:1px solid #E9ECF4;
		padding: 10px; 
		border-radius: 3px; 
		p{
			margin-bottom: 0; 
		}
		.icon-btn{
			color: #707070; 
		}
		.text-status{
			font-weight: normal;
			i{
				font-size: 12px; 
			}
		}
	}
}
.avater__wrapper{
	p{
		font-weight: bold;
		line-height: 15px; 
	}
	small{
		font-size: 12px; 
		line-height: 15px; 
	}
}
.table-info-wrapper{
	.footer{
		padding: 20px; 
		border-top: 1px solid #E9ECF4; 
	}
}
.board-intro{
	color: #000000; 
	font-size: 16px;
	line-height: 24px; 
	p{
		margin-bottom: 25px;  
	}
}
.box-card2{
	box-shadow: 0 1px 4px rgba(0,0,0,.2);   
	text-align:center; 
	padding: 40px 30px; 
	height: 100%; 
	img{
		margin-bottom: 25px; 
	}
	p{
		color: #000;
		margin-bottom: 25px; 
	}
}