.avater-sm-thumb{
	min-height: 32px;
	min-width: 32px;
	max-width: 35px;
	max-width: 35px; 
	border-radius: 50%;
	background: #E0F3EC; 
	font-size: 12px;
	color: #72848D; font-weight: bold; 
	display: block; 
	line-height: 32px; 
	overflow: hidden;
	text-align: center;
	border-radius:50%; 
	img{
		height: 100%;
		width: 100%;
		object-fit: cover;
		vertical-align: top; 
 	}
} 
.small-text{  
	font-size: 12px;
	color: #C9C9C9; 
}
.avater-area{
	.text{
		p{
			margin-bottom: 0;
			color: #72848D; 
			line-height: 19px;
			font-size: 14px; 
		}
		small{
			font-size: 12px;
			color: #C9C9C9; 
		}
	}
	.avater-thumb{  
		margin-right: 13px;  
		padding-top: 3px;  
	}
	.avater-sm-thumb{ 
		border-radius: 0;
		background-color: #fff;
		border:1px solid #C9C9C9; 
		text-align: center; 
		font-size: 14px; 
		height: 34px;
		width: 34px;
		line-height: 34px; 
	}
}
.sm-avater{
	margin: 5px 0; 
	p{
		display: inline-block;margin-bottom: 0; 
	}
	i{
		font-size: 23px; 
	}
}
.job-info{
	position: relative;
	.text-status{
		position: absolute;top: 0;
		right: 6px; 
	}
}
.text-status{
	display: inline-block; 
	
}
.avater--list-area{
	.list-item{
		margin-bottom: 15px; 
		.avater-sm-thumb{
			background-color: #FCCC5F; 
			color: #000; 
		}
		p{ 
			margin-bottom: 0;
			color: #000;
			padding: 4px 12px;
			font-weight: 500;  
		}
	}	
}
.member-box-area{
	padding: 14px 22px; 
	border: 1px solid #E9ECF4;
	border-radius: 3px;
	.avater-sm-thumb{
		min-height:63px; 
		min-width:63px; 
		margin-top: 4px; 
	}
	.text-content{
		padding-left: 20px; 
		width: 100%; 
		position: relative; 
	}
	p{
		margin-bottom: 0; 
	} 
	.status-bar {
		position: absolute;
		right: -6px;
		font-size: 10px;
		padding: 1px 7px;
		min-width: auto;border-radius: 50px; text-transform: uppercase; 
	}
}
.avater-sm-thumb.md-size {
	min-height: 54px;
	min-width: 54px;
} 