.btn {
  padding:9px 31px;    
  font-size: 14px; 
  line-height: 19px; 
  font-weight: 500; 
  border-radius: 3px; 
  @include transition(ease-in-out 0.2s);      
}
.sm-btn {
  padding: 5px 12px;
  font-size: 13px; 
} 
.btn-outline-dark{
  border-color:#707070;
  color: #707070;
  &:hover{
    background-color: #707070;
    color: #fff; 
    border-color:transparent; 
  }
}
.btn-dark {
  background: #030303;
  border-color: transparent;
  &:hover{
  	background-color: transparent; 
  	border-color: #030303; 
  	color: #030303; 
  }
}
.btn-gray{
	background-color: #D6DFE4; 
	color: #72848D; 
	  border-color: transparent;
  &:focus { 
    box-shadow: 0 0 0 .2rem rgba(82,88,93,.5);
  }
  &:hover{
  	background-color: transparent; 
  	border-color: #030303; 
  	color: #030303; 
  }
}
.btn-success{ 
  background: #47BB7F;  
  border-color: transparent; 
  color: #fff; 
  &:hover{
  	background-color: #249164; 
  }
}
.btn-secondary{
  background: #D9F0D8; 
  border-color: transparent;
  color: #14a20c;  
  &:hover{
  	background-color: transparent; 
  	border-color: #14a20c; 
  	color: #14a20c;  
  }
}
.btn-outline-gray{
  color: #72848D;
  background-color: transparent;
  border-color: #C4C4C4; 
  &:hover{
    background-color: #C4C4C4; 
    border-color: transparent;
    color: #fff; 
  }
}
.btn .left-icon {
	margin-right: 10px;
} 
i.rotate-icon {
	transform: rotate(180deg) translateY(-2px);
} 
.btn-danger{
  background: #D90A20;
  color: #fff;
  border-color: transparent;
  &:hover{
    background:transparent;
    color: #D90A20;
    border-color:#D90A20; 
  }
}
.btn-orange{
  background:#F67606;
  color: #fff;
  border-color: transparent;
  &:hover{
    background:transparent;
    color: #F67606;
    border-color:#F67606;  
  }
}
.icon-btn {
  font-size: 16px;
  padding: 5px;
  background-color: transparent;
  border-color: transparent;
  height: 35px;
  width: 35px; 
  border-radius: 6px;
  color: #C9C9C9; 
} 

.btn-area{
  .btn {
    margin-left: 17px;
    &:first-child{
      margin-left: 0; 
    }
  }  
} 
.btn-close{
  background-color: transparent;border-color: transparent;
  font-size: 16px;
  padding: 5px; 
  
}
.btn-text{
  color: #72848D;
  text-decoration: none;
  display: inline-block; 
}
.add-btn{
  background-color: transparent;
  border: transparent; 
  color: var(--color-success);  
}
.dot-3{
  display: block;
  position: relative;
  height: 26px;
  width: 20px; 
  background-color: transparent;border-color: transparent; 
  &::before,&::after{
    content: ""; 
    border-radius: 50%;  
    position: absolute;   
     @include transform(translateX(-50%)); 
     background-color: #72848D;
  }
   &::before{
    top: 0;
   }
   &::after{   
    bottom: 0; 
   }
   &::before,&::after,span{
    height: 5px; 
    width: 5px;  
    left: 50%; 
    background-color: #72848D;
   }
   span{
    border-radius: 50%; 
    position: absolute;
    top: 50%;   
    @include transform(translateY(-50%) translateX(-50%)); 
   }
}
.btn-primary{
  background-color: #1358F9;
}
.btn-lg {
  padding: 16px 15px;
} 
.link-btn{
  font-weight: 500;
  text-decoration: none;
  display: inline-block; 
}
.arrow-lg-btn{
  font-size: 34px;
  color: #C4C4C4; 
}
.close-btn {
  border: transparent;
  background: transparent;
  font-size: 20px;
} 
.arrow-sm-btn {
  font-size: 18px;
} 
.btn-light-gray {
  background: #E9ECF4;
  color: #707070;
} 
.btn-text{
  color: #005EF5; 
  font-weight: bold; 
  i{
    font-size: 16px; 
  } 
}