:root{
	--color-success:#40AA73; 
	--color-secondary:#34B27E; 
	--color-blue:#455EEE; 
	--color-gray:#72848D; 
	--color-warning:#FF7227; 
	--color-warning-1:#de4d00; 
	--color-yellow:#47C736;  
	--color-danger-2:#707070;  
}
.text-success{color: var(--color-success) !important;}
.text-secondary{color: var(--color-secondary) !important;}
.text-gray{color: var(--color-gray) !important; }
.text-warning{color: var(--color-warning) !important; } 
.text-warning-1{color: var(--color-warning-1) !important; }
.text-blue{color: var(--color-blue) !important; } 
.text-yellow-dark{color: #FF9300 !important; }
.bg-yellow{ background-color: var(--color-yellow) !important; } 

.highlight-yellow{  
	border-top: 1px solid var(--color-yellow) !important;
	border-left: 1px solid var(--color-yellow) !important;
	border-right: 1px solid var(--color-yellow) !important;
	border-bottom: 1px solid var(--color-yellow) !important;
	color: var(--color-yellow);  
	.sm-title{ 
		color: var(--color-yellow);  
	} 
}
.bg-light-blue{
	background-color: #E4F2FF; 
}
.text-light-gray{
	color:#C4C4C4; 
}
.text-pink {
	color: #2A518C !important;
} 
.text-danger-2{
	color: var(--color-danger-2) !important;  
}  
.text-body{
	color: #707070 !important; 
}
