.color-box{
	width: 41px;
	height: 35px;
	background: #FFEFEF; 
	display: block;
	border: 1px solid #C4C4C4;
	border-radius: 3px;  
	cursor: pointer; 
} 
.color-text-bar{
	height: 35px;
	width: 100%; 
	border: 1px solid #C4C4C4;
	color: #C4C4C4;  
	padding: 6px 17px; 
	border-radius: 3px; 
}
.color-pic-box{ 
	display: block;
	border: 1px solid #C4C4C4;
	border-radius: 0px;
	width: 350px; 
	padding: 24px; 
	box-shadow: 0 3px 6px rgba(0,0,0,.2); 
	background: #fff;
	z-index: 999; 
	ul{
		padding: 0;
		margin: 0; 
		list-style: none; 
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align:center;
		-ms-flex-align:center;
		align-items:center;
		-ms-flex-wrap:wrap;
		flex-wrap:wrap;
		margin-left: -5px;
		margin-right: -5px; 
		margin-bottom: -11px; 
		li{
			width: 16.666667%;
			flex:0 0 auto; 
			padding: 0 5px; 
			margin-bottom: 11px;
		}
	}
}
.release-color-list{
	padding: 0;
	margin: 0;
	list-style: none; 
	.color-field-item{ 
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align:center;
		-ms-flex-align:center;
		align-items:center;
		margin-bottom: 11px; 
		.color-box{
			margin-left: 10px; 
		}
		.btn { 
			padding: 7px 22px;
		}
	}
}
.release-color-pic-area{
	position: relative; 
	.color-pic-box{
		position: absolute; 
		margin-left: 54px; 
		@include transition(all 0.15s);   
		@include transform(scaleY(0.5));
		transform-origin:top; 
		opacity: 0;visibility: hidden; 
	}
	.color-pic-box.open{
		@include transform(scaleY(1)); 
		transform-origin:top; 
		opacity: 1;visibility: visible; 
	}
}