.content-body{
	padding: 21px 30px; 
}
.alert{ 
	position: relative;
	font-size: 14px;
	line-height: 19px; 
	.btn-close{
		position: absolute;
		right: 11px;  top: 11px; 
	}
	i{
		font-size: 20px; 
	}
	.close{
		font-size: 15px;color:#fff; 
		height:100%; opacity:1;  
	}
}
.alert-success{ 
	border: 1px solid #40AA73;
	background-color: #40AA73;
	color: #FFFFFF; 
	.btn-close{
		color: #47C736;  
	}
}
.alert-warning{ 
	border: 1px solid #FF7227;
	background-color: #FFE9DD;
	color: #DE4D00; 
	.btn-close{
		color: #FFFFFF;     
	}
}
.alert-danger{ 
	border: 1px solid #D86565;
	background-color: #D86565;
	color: #FFFFFF; 
	.btn-close{
		color: #FFFFFF;     
	}
}

.blog-quote{
	background-color: #E4F2FF;
	border-top: 1px solid #8BC1EC;  
	border-bottom: 1px solid #8BC1EC;  
	padding: 23px 26px; 
	color: #8BC1EC;
	font-weight: 500;  
	font-size: 14px;
	line-height: 19px; 
}
.callout{ 
	border: 1px solid #C6C6C6;  
	border-left-width: 4px;
	padding: 20px 23px;  
	position: relative;
	p{
		margin-bottom: 0; 
	} 
	.btn-area{
		position: absolute;
		right: 0;
		top: 0;  
	}
} 
.callout-blue{
	border-left-color: var(--color-blue); 
}
.list-group{
	a{
		display: block;
		padding: 17px 23px;  
		font-size: 14px;line-height: 19px;
		color: #72848D; 
		text-decoration: none; 
	}
}
.status-bar{ 
	background-color: #EFEFEF;
	border: 1px solid #C6C6C6;
	display: inline-block;
	font-size: 12px;
	line-height: 15px;
	padding:7px 10px;     
	color: #72848D;
	min-width: 63px; 
	text-align: center; 
	margin: 2px 0;  
	font-weight: bold;
	border-radius:3px; 
} 
.status-bar.active{
	background: #FF9300;
	border: 1px solid #FF9300; 
	color: #fff;
}.status-bar.inactive{
	background: #C4C4C4;
	border: 1px solid #C4C4C4; 
	color: #fff; 
}
.status-bar.has-right {
  position: relative;
  padding-right: 50px;
}
.status-bar.has-right .right-count {
  position: absolute;
  right: 10px;
} 
.status-bar.lg-bar{ 
	min-width: 78px; 
}
.status-bar.success{ 
	border-color: #FCF1C6;  
	background-color: #FCF1C6;
	color: #FF9300; 
}
.status-bar.teal{  
	border-color: #E4F0E7; 
	background-color: #E4F0E7;
	color: #40AA73; 
}
.status-bar.blue{  
	border-color: #E8EFFF; 
	background-color: #E8EFFF;
	color: #005EF5; 
}
.status-bar.indigo{   
	border-color: #F2E3FE; 
	background-color: #F2E3FE;
	color: #F500C6; 
}
.status-bar.red{   
	border-color: #FFEFEF;  
	background-color: #FFEFEF;
	color: #E7253A; 
}

.status-bar.yellow{
	border-color: #47C736;
	background-color: #47C736;
	color: #ffff;  
}
.status-bar.warning{
	border-color: #FF7227;
	background-color: #FFF1EA; 
	color: #FF7227; 
}
.text-status{
	display: inline-block;
	font-size: 12px;
	line-height: 15px;   
	color: #72848D;
	min-width: 63px; 
	text-align: center; 
	margin: 2px 0;  
	font-weight: bold;
	border-radius:3px; 
	i{
		font-size: 24px;
		width: 28px; 
		vertical-align: middle; 
	} 
}
.text-status.success{  
	color: #FF9300; 
}
.text-status.teal{  
	color: #40AA73; 
}
.text-status.blue{  
	color: #005EF5; 
}
.text-status.indigo{   
	color: #F500C6; 
}
.text-status.red{   
	color: #E7253A; 
}

.text-status.yellow{
	color: #47C736;  
}
.text-status.warning{
	color: #FF7227; 
}
.round-50{
	border-radius: 50px; 
}
.data-lists{
	padding: 0;
	margin: 0;
	list-style: none; 
	.list-item{
		padding:11px;   
		border: 1px solid #C6C6C6; 
		border-radius: 5px; 
		margin-bottom: 10px; 
	}
}
.block-quote{
	padding: 16px 27px; 
	border: 1px solid #eee;
	color: #000000;
	border-radius: 5px; 
	i{
		color: #72848D; 
	}
}
.block-quote.success{
	border-color: #C9C9C9;
	background-color: #FFFEF5; 
}
.light-box{
	padding:15px;  
	border: 1px solid #eee; 
	h6 .icon-btn {
		height: 26px; 
		width: 26px;
		padding: 0;
		font-size: 15px;
	}
}
.info-sm-box{
	background-color: #F7F7F7; 
	padding: 5px 12px;
	p{
		margin-bottom: 0; 
	}
}
.hire-proc-lists{
	padding: 0;
	margin: 0;
	list-style: none; 
	li{
		display: block; 
	}
}
.hire-proc-lists{
	.list-item{
		margin-bottom: 7px;  
	}
}
.portlet-placeholder{
	height: 45px;
	width: 100%;
	border: 1px dotted #eee;  
	margin: 5px 0; 
	background-color: #FFFDFD; 
} 
.sortable-handler{
	padding: 4px;
	cursor: all-scroll;  
} 
.ui-sortable-helper{
	.sortable-handler{
		cursor: grabbing; 
	}
}
.selected-val-lists{
	padding: 0;
	margin: 0;
	list-style: none;
	li { 
		display: inline-block;
		margin: 2px;
		color: #1358F9;
		border: 1px solid #1358F9;
		border-radius: 3px;
		padding: 3px 11px;
		font-size: 12px;
		line-height: 15px;
	}
} 
.selected-list{
	padding: 0;
	margin: 0;
	list-style: none;
	li{
		display: inline-block;
		margin-right: 20px; 
		margin-bottom: 5px; 
		i.fa-check-circle{
			color: #47C736; 
		}
	}
}
.highlight-box{
	border: 1px solid #eee;
	display: block;
	margin: -10px; 
}
.page-sidebar-right-area{
	border-left: 1px solid #EFEFEF; 
	height: 100%;
	.sidebar-item {
		padding: 0 25px;
		border-bottom: 1px solid #EFEFEF;
		padding-bottom: 20px;
		margin-bottom: 20px;
	}
}
.has-right-abs-c{
	position:relative;
	.right-abs-btn{
		position: absolute;
		right: 0;
		top: 0; 
	}
}
.avater-lists {
	padding: 0;
	margin: 0;
	list-style: none; 
	.avater-item{
		width: 37px; 
		height: 37px; 
		position: relative; 
		padding: 0 !important; 
		.avater-sm-thumb,.total-number{
			height: 100%;width: 100%; 
			line-height: 36px; 
			display: block; text-align: center; 
		}
	}
}
.avater-lists .avater-item:nth-child(2) {
	left: -5px;
}
.avater-lists .avater-item:nth-child(3) {
	left: -10px;
}
.avater-lists .avater-item:nth-child(4) {
	left: -15px;
}
.avater-lists .avater-item:nth-child(5) { 
	left: -13px; 
}
.content-container-pd {
	padding: 10px 30px;
	padding-top: 18px;
} 
.dropdown-area{
	position: relative;
	.dropdown-menu{ 
		width: 332px;
		border: 1px solid #F0F0F0;
		left: auto; 
		right: -10px;
		top:calc(100%); 
		padding: 15px; 
		@media #{$sm_device}{
			width: 250px; 
		}
		.dropdown-item {
			font-size: 14px;
			line-height: 24px;
			padding: 7px 15px;
			border-radius: 3px;
			i{  
				width: 28px;
				font-size: 16px;
			}
			&:hover {
				background-color:#F9F9F9; 
			}
			&:active { 
				color: #fff;
				background-color: #0d6efd;
			}
		}
	}
}
.setting-area{
	.dropdown-item{
		color: #005EF5; 
	}
}
.project-info-wrapper{ 
	.project-item {
		padding: 20px 30px;
		border-right: 1px solid #F0F0F0; 
		height: 100%; 
		@media #{$md_device}{ 
			border-right: none; 
			border-top: 1px solid #F0F0F0; 
		} 
		.status-bar,.text-status{
			width: 100%;
			@media #{$md_device}{
				width: auto; 
			}
		}
	}
	.project-item.lg-item{
		@media #{$lg_device}{
			border-right: none; 
			border-top: 1px solid #F0F0F0; 
		}
	}
}
.text-date{
	padding: 7px 10px; 
	i{
		font-size: 18px;
	}
}
.add-member-wrapper{
	.add-member-btn{
		font-size: 42px; 
		color: #C4C4C4; 
		background-color: transparent;border-color: transparent;
		padding: 0;margin: 0;  
		margin-right: 10px; 
	}
	.avater-item{ 
		left: 0 !important;   
		margin-right: 7px; 
		.avater-sm-thumb{
			background-color: #000; color: #fff; 
			line-height: 39px; 
			min-height: 39px;
			min-width: 39px; 
		}
	}
}
.add-member-area{
	position: relative;
	.custom-dropdown-area{
		position: absolute;
		left: calc(100%);  
		top: 0; 
		@media #{$sm_device}{
			top: 100%;
			left: 0; 
		}
	}
}
.custom-dropdown-area{
	width: 379px;
	border: 1px solid #2A518C; 
	box-shadow: 0 3px 6px rgba(0,0,0,.2); 
	background-color: #fff; 
	z-index: 120;
	display: none; 
	@media #{$sm_device}{
		width: 300px;  
	}
	.header{ 
		padding: 16px 25px; 
		border-bottom: 1px solid #2A518C; 
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap:wrap;
		flex-wrap:wrap;
		-webkit-box-align:center;
		-ms-flex-align:center;
		align-items:center;
		p{
			margin-bottom: 0; 
			margin-right: auto;
			font-weight: bold; 
		}
		.close-btn{
			color: #707070; 
		}
	}
	.body{
		padding: 16px 25px; 
		.btn{
			border-radius: 1px; 
		}
	}
}
.add-member-area.open{
	.custom-dropdown-area{
		display: block; 
	}
}
.ui-draggable-handle {
	cursor: all-scroll;
} 
.project-manage-area{
	.title{
		font-weight: bold;
		color: #707070; margin-bottom: 5px;  
		small{
			font-size: 10px;
			color: #D86565; font-weight: normal; 
			margin-left: 5px; display: inline-block;
 
		}
	}
}
.form-body.info-lg-text-box {
	border-right: 1px solid #E9ECF4;
	height: 100%;
	@media #{$lg_device}{
		border-right: 0px solid #E9ECF4;
		border-top: 1px solid #E9ECF4;
	} 
} 
.form-body.brb-lg{
	border-bottom: 1px solid #E9ECF4; 
	@media #{$lg_device}{
		border-bottom: 0px solid #E9ECF4;  
	}
}
.custom-dropdown-wrapper{
	position: relative;
	.custom-dropdown-area{
		left: auto; 
		right: 0;
		position: absolute; 
		@media #{$md_device}{
			right: auto;
			left: 0; 
		}
	} 
	.dropdown-link {
	  display: block;
	  color: #707070;
	  text-decoration: none;
	  font-size: 14px;
	  border: 1px solid #E9ECF4;
	  padding: 7px 12px;
	  border-radius: 3px;
	  position: relative;
	  z-index: 10; 
	}
	.dropdown-link i {
	  position: absolute;
	  right: 16px;
	  top: 50%;
	  transform: translateY(-50%);
	  font-size: 24px;
	  color: #C4C4C4;

	}
}
.custom-dropdown-wrapper.open{
	.custom-dropdown-area{
		display: block; 
	}
}
.table-info-wrapper{
.custom-dropdown-wrapper{
	.custom-dropdown-area{ 
		border-color: #E9ECF4; 
		box-shadow: none; 
	}
}
}
.count--icon{ 
	text-align: center; 
	display: inline-block; 
	font-size: 22px;
	i{
		display: block; 
		font-size: 38px; 
		margin-bottom: 5px; 
	}
}
.form-box-area .content-body .text-content p { 
	margin-bottom: 5px;
}
.form-box-area .content-body{
	border-bottom: 1px solid #E9ECF4;
	&:last-child{
		border-bottom: none; 
	}
}
.select--dropdown--area{
	position: relative;
	max-width: 336px; 
	.result-area{
		background: #F9F9F9;
		border:1px solid #D9DFEB; 
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align:center;
		-ms-flex-align:center;
		align-items:center;
		text-decoration: none;
		color: #707070; 
		padding: 10px; 
		position: relative;
		&::before{
			content: "\f0dd";
			font-weight: 900; 
			font-family: "Font Awesome 5 Free";
			position: absolute;
			top: 50%;
			@include transform(translateY(-50%)); right: 10px;
			font-size: 25px;
			color: #C4C4C4; line-height: 0; 
			height: 13px; 
		}
		.result{
			margin-right: 15px;  
		}
	} 
	.status-bar{
		color: #fff; 
	}
	.data-list{
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%; 
		background: #fff;
		border:1px solid #D9DFEB; padding: 16px; 
		margin: 0;list-style: none; 
		@include transform(scaleY(0.2)); 
		@include transition(all 0.15s); 
		transform-origin:top;  
		opacity: 0;
		visibility: hidden; 
		.list-item{
			cursor: pointer; margin-bottom: 10px; 
		}
	}
}
.select--dropdown--area.open{
	.data-list{
		opacity: 1;
		visibility: visible; 
		@include transform(scaleY(1));
	}
}
.mxw-100{
	max-width: 100%; 
}
.published-bg{ 
	background-color: #40AA73;
	border-color: #40AA73;
}
.sec-to-pub-bg{
	background-color: #47BB7F;
	border-color: #47BB7F;
}
.draft-bg{
	background-color: #FF9300;
	border-color: #FF9300;
}
.archieve-bg{
	background-color: #707070;
	border-color: #707070;
}
.edit-bg{
	background-color: #005EF5;
	border-color: #005EF5;
}
.withdraw-bg{
	background-color: #000000;
	border-color: #000000;
}
.delete-bg{
	background-color: #F80000;  
	border-color: #F80000;
}
.navbar-blue{
	padding: 0;margin: 0;list-style: none;
	.nav-item{
		display: inline-block; 
		.nav-link{
			display: inline-block; 
			i{
				margin-right: 10px;
				display: inline-block; 
			}
		}
	}
}
.content-box-area {
	padding: 15px 27px; 
	border:1px solid #E9ECF4; 
	border-radius: 3px; 
} 
.comment-content-item{
	padding:27px; 
	border:1px solid #E9ECF4;  
	border-radius: 3px; 
	margin-bottom: 28px; 
	p{
		color: #000;
		font-size: 14px;
		line-height: 24px;  
	} 
	.left-info{
		.avater-sm-thumb{
			min-height: 39px;
			min-width: 39px; 
			margin-top: 6px; 
		}
	}
	.date{
		text-transform: uppercase; 
	}
	.right-info{
		margin-left: 35px;  
	}
}