.datepicker td, .datepicker th {
  padding: 5px 9px !important;
  border-radius: 3px;
  font-weight: 500;
  font-size: 12px; 
} 
.datepicker table tr td.active.active {
	background: #47BB7F;
	text-shadow: none;
	border-radius: 3px;
	box-shadow: 0 0 16px rgba(0,0,0,.1);
} 
.input-datepicker{
	position: relative; 
	cursor: pointer; 
	i{
		position: absolute;
		top: 50%;
		@include transform(translateY(-50%)); 
		right: 13px;font-size: 16px;
		color: #C4C4C4; 
		pointer-events:none;

	}
}