.embed-code-item{ 
	&:nth-child(2n+2) {
		background: #F4FFF9; 
	} 
	.embed-code-header { 
		padding-left: 30px;
		padding-right: 30px; 
		padding-top: 30px; 
		padding-bottom: 0;   
	} 
}
.code-body{
	padding:24px 20px; 
	border:1px solid #E9ECF4;
	color:#000000;font-size: 14px;line-height: 24px; background: #FFF; 
	height:168px;
	overflow-y:auto; 
	overflow-x:hidden; 
	pre{
		margin-bottom: 0; 
	}
	.embed-code-header{

	}
}
