// Switcher Start
.cust-switcher{
  position: relative;
  display: inline-block; 
  input[type=checkbox]{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer; 
  }

  label {
    cursor: pointer;  
    width: 40px;  
    height: 22px; 
    background: #A0A0A0; 
    display: block;
    border-radius: 100px;
    position: relative;
    @include transition(cubic-bezier(.22,.61,.36,1) 0.25s);
	i { 
		font-size: 10px;
		position: absolute;
		left: 6px;
		z-index: 5;
		top: 6px;
		transition: 0.3s;
		pointer-events: none;  
	}
  }
 
  label:after {
    content: '';
    position: absolute;
    top: 3px; 
    left: 3px;
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
  }
  input:checked + label {
    background: #34B27E; 
  }

  input:checked + label:after {
    left: calc(100% - 3px); 
    transform: translateX(-100%);
  }
  input:checked + label i{
  	left: calc(100% - 6px);  
  	transform: translateX(-100%); 
  }

  input[type=checkbox]{
    &:active{
        label{
             &::after{
                width: 30px;
             }
        }
    }
  }
}  
.custom-select .chosen-container {
  display: block;
  width: 100% !important;
}
.custom-select .chosen-container .chosen-single {
  border: 1px solid #dbdcdd;
  background: transparent;
  box-shadow: none;
  height: auto;
  padding: 7px 10px;
  font-size: 12px;  
  color: #495057;
  border-radius: 4px; 
  span{
  	margin-right: 0; 
  }
}
.custom-select .chosen-container .chosen-single div{
	position: absolute; 
	top: 50%; 
	right: 2px;
	text-align: center; 
	@include transform(translateY(-50%)); 
	height: auto; 
	font-size: 14px; 
	&::before{
		content: "\f0d7"; 
		font-family: "Font Awesome 5 Pro"; 
	}
} 
.chosen-container .chosen-drop{
  border: 1px solid #dbdcdd; 
}
.chosen-container .chosen-results{
	padding: 0;  
	margin: 0;  
}
.chosen-container .chosen-results li {
	padding: 10px 13px; 
	font-size: 12px; 
	@include transition(all 0.15s);
}  
.active-result.highlighted { 
	background: #F6F6F6 !important;
	color: #000 !important; 
} 
.active-result.result-selected{
	color: #000 !important;
	font-weight: bold; 
}
.chosen-container .chosen-drop {
	clip: auto;
	clip-path: none;
	transform: scaleY(0.5); 
	transform-origin: top left;
	opacity: 0;
	visibility: hidden;
	transition: all 0.07s;     
} 
.chosen-container.chosen-with-drop .chosen-drop{
	transform: scaleY(1); 
	transform-origin: top left;
	opacity: 1;
	visibility: visible; 
}
.search-field{  
	.chosen-single.chosen-default {
		background: #EFEFEF !important;
		color: #C9C9C9 !important;
	}  
	.custom-select{  
		width: 95px; 
	}
	.form-control{
		width: 175px; 
		font-size: 12px; 
	} 
	.chosen-container .chosen-single{
		border-radius: 4px 0 0 4px;  
	}
}
// SELECT 2 Start
.select2-container { 
	display: block;
	width: 100% !important;
}
.selection {
	display: block;
}
.select2-selection--single {
	border: 1px solid #D6DFE4 !important; 
	height: 39px !important;
	padding: 5px 0;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 100%; 
	width: 34px;
} 

.select2-dropdown {
  border: 1px solid #D6DFE4 !important;
  border-radius: 5px;
}
.select2-search--dropdown {
  padding: 7px;
  position: relative;
	&::before { 
		content: "";
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='61.477' height='61.475' viewBox='0 0 61.477 61.475'%3E%3Cg id='loupe' transform='translate(0 -0.004)'%3E%3Cg id='Group_140' data-name='Group 140' transform='translate(0 0.003)'%3E%3Cpath id='Path_20' data-name='Path 20' d='M60.725,57.106,43.243,39.624a24.38,24.38,0,1,0-3.622,3.622L57.1,60.728a2.561,2.561,0,1,0,3.622-3.622ZM24.334,43.548A19.211,19.211,0,1,1,43.545,24.337,19.231,19.231,0,0,1,24.334,43.548Z' transform='translate(0 -0.003)' fill='%23c2c2c2'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
		background-size: contain;
		background-repeat: no-repeat;
		height: 15px;
		width: 15px;
		position: absolute;
		right: 18px;
		top: 15px;
	}
}
.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #D6DFE4;
  border-radius: 5px;
  padding: 3px 12px; 
  padding-right: 35px; 
}
.select2-results__option {
  padding: 7px 10px;
  border-radius: 3px; 
}
.select2-results__options {
  padding: 8px;  
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background: #47BB7F; 
  box-shadow: 0 0 20px rgba(0,0,0,.1);  
} 
// SELECT 2 End
.form-group{
	label{
		margin-bottom: 10px; 
	}
	small{
		font-size: 13px;
		line-height: 17px;  
		margin-top: 10px;
		display: block; 
		color: #C6C6C6; 
	}
}
.form-control,.input-group-text{
	font-size: 14px;
	line-height: 19px; 
}
.form-control {
	padding: 9px 10px;  
}
.input-group-text {
	padding: 10px 15px;
}  
.right-prepend{
	.input-group-prepend{
		width: 300px; 
		border-color: #D6DFE4;
		@media #{$md_device}{
			width: auto; 
		}
	}
	.form-control{
		border-radius: 4px 0 0 4px;  
		
		border-color: #D6DFE4; 
	}
} 
.top-form-field{ 
	border-bottom: 1px solid #EFEFEF;  
	padding-bottom: 5px; 
	margin-bottom: 15px;
}
.form-bottom-info{ 
	border-top: 1px solid #EFEFEF;  
	padding-top: 20px; 
	margin-top: 15px; 
}
.search-area{
	position: relative; 
	display: inline-block; 
	.search-btn{
		background-color: transparent;
		color: #72848D; 
		position: absolute; 
		top: 50%;
		@include transform(translateY(-50%)); 
		left: 5px;
		background-color: transparent; 
	}
	.form-control{
		border: 1px solid #D6DFE4; 
		padding-left: 38px;    
		max-width: 259px; 
	}
} 
.search-btn{
	background-color: transparent;
	border-color: transparent; 
}
.select-area{
 	position: relative; 
 	.form-control{
 		padding-right: 22px; 
 	}
	&:after {
		border-bottom: 2px solid #000000;
		border-right: 2px solid #000000;
		content: "";
		display: block;
		margin-top: -4px;
		pointer-events: none;
		position: absolute;
		right: 12px; 
		top: 50%; 
		-webkit-transform-origin: 66% 66%;
		-ms-transform-origin: 66% 66%;
		transform-origin: 66% 66%;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
		-webkit-transition: all 0.15s ease-in-out;
		transition: all 0.15s ease-in-out;
		width: 6px;
		height: 6px; 
	}
}
.pagination{
	li{
		border-radius: 5px; 
		margin-right: 4px;
		&:last-child{ 
			margin-right: 0; 
		} 
		a { 
			border-radius: 4px;
			border: 1px solid #005EF5;
			color: #005EF5;
			display: block;
			font-size: 14px;
			line-height: 13px;
			padding: 11px 12px;
			text-decoration: none; 
			font-weight: bold;
		}
	}  
	li.active{
		a {
			background: #005EF5;
			border-color: #005EF5; 
			color: #fff;
		}
	}
}
div.dataTables_length label::after {
	content: "\f0d7";
	font-family: "Font Awesome 5 Pro";
	display: block;
	margin-top: -4px;
	pointer-events: none;
	position: absolute;
	right: 69px; 
	top: 64%;
	@include transform(translateY(-50%));
	font-weight: 900;
	color: #B3B3B3; 
} 
.form-check {
	min-height: auto;
	position: relative;
	margin-bottom: 8px;
} 
.form-check .form-check-label {
	font-size: 14px;
	line-height: 20px;
	vertical-align: middle;
	margin-top: 0;
}
.form-check-input[type="checkbox"] {
	border-radius: .25em;
	margin-top: 3px;
}
.select2-container--default .select2-selection--multiple {
	border: 1px solid #eee !important;
	min-height: auto;
	display: block;
	padding-top: 5px;
	padding-left: 5px;
	padding-bottom: 6px;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
} 
.select2-container--default.select2-container--focus .select2-selection--multiple { 
	box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.2); 
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
	background-color: #E4F0E7; 
	border: 1px solid #40AA73; 
	border-radius: 4px; 
	color: #40AA73;
} 
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  float: right;
  border-right: 0;
  padding: 2px 7px;
  color: #40AA73; 
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__display {
  display: inline-block;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 9px;
} 
.check-box-card{
	padding: 15px 17px; 
	background-color: #F5FAFF;
	border: 1px solid #ACC4FC; 
	border-radius: 5px; 
	min-height: 114px; 
	label{
		color: #000; 
	}
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
	background: #F9F9F9;
	box-shadow: none;
	color: #707070; 
}
.open-modal .select2-container--open{  
	z-index: 2000; 
}

.round {
  position: relative;
}

.round label {
  background-color: #fff;
  border: 1px solid #D9DFEB; 
  border-radius: 50%;
  cursor: pointer;
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px;
}

.round label::after {
	border: 2px solid #fff;
	border-top: none;
	border-right: none;
	content: "";
	height: 6px;
	left: 5px;
	opacity: 0;
	position: absolute;
	top: 5px;
	transform: rotate(-45deg);
	width: 9px;
} 

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background-color: #40AA73;
  border-color: #40AA73; 
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}
.radio-content-box {
	padding: 17px; 
	border: 1px solid #40AA73;
	border-radius: 3px;
} 
.radio-content-box .text-content {
	padding-left: 24px;
} 
.radio-content-box .text-content p {
  margin-bottom: 0;
}
.radio-content-box .text-content .title {
  margin-bottom: 9px;
  color: #40AA73; 
} 
.upload-input-blue{
	color: #005EF5; 
	cursor: pointer;
	position: relative;
	margin-top: auto;
	margin-left: 17px; 
	input[type="file"]{
		position: absolute;left: 0;top: 0;height: 100%;width: 100%; cursor: pointer;
		opacity: 0; 
	}
	&:hover{
		text-decoration: underline; 
	}
}
.question-area i {
	color: #C4C4C4;
	font-size: 16px;
	cursor: pointer; 
} 
div.inputTags-list {
	border-color: #C4C4C4;
	background: #fff;
} 
div.inputTags-list span.inputTags-item {
	background: #E4F0E7;
	color: #40AA73;
	border: 1px solid #40AA73;
	padding-right: 31px;
} 
div.inputTags-list span.inputTags-item.is-edit{
	border-color: #40AA73;
}  