.form-control:focus { 
	border-color:rgba(72,180,97,.2); 
	box-shadow: 0 0 0 .2rem rgba(72,180,97,.2);  
}
.form-section{
	label {
		margin-bottom: 6px !important;
	}
	a{ 
	  font-weight: 500;
	  text-decoration: none !important;
	  display: inline-block; 
	}
}
.form-wrapper {
	background: #fff;
	overflow: hidden;
	border-radius: 5px;  
	padding: 25px;  
	.form-container{
		padding-left: 25px;
		padding-right: 25px; 
	}
	.form-msg{
		padding: 10px 25px;
		background-color: #f6f6f6;
		font-weight: 500; 
	}
.warning-msg{
	background-color: #FFE9DD;
	color: #DE4D00; 
}	
.success-msg{
	background-color: #E9FAE9;
	color: #34B27E;  
}
} 
.btn-form-link{
	border: 1px solid #D6DFE4;
	color: #000; 
	img{ 
		width: 21px;
		margin-right: 8px; 
		display: inline-block; 
	}
}
.custom-hr{
	font-size: 14px;
	position: relative; 
	display: block; 
	text-align: center; 
	&::before {
		content: "";
		position: absolute;
		width: 40%;
		left: 0; 
		height: 1px;
		text-align: center;
		top: 50%;
		background-color: #EAEFF1;
	} 
	&::after {
		content: ""; 
		position: absolute;
		width: 40%; 
		right: 0;
		height: 1px; 
		text-align: center;
		top: 50%;
		background-color: #EAEFF1; 
	}
}
.has-field-right-info{
	position: relative;
	input{
		padding-right: 35px; 
	}
	.info{
		position: absolute;right: 0;
		top: 50%;
		@include transform(translateY(-50%)); 
		height: 100%; 
		display: block;
		padding: 6px 14px;   
	}
}
.img-wrapper{
	height:100%;
	width:100%;
	img{
		height:100%;
		width:100%;
		object-fit:cover; 
	}
}
.form-box-area{
	border:1px solid #E9ECF4;
	border-radius:3px; 
	.form-header{
		border-bottom:1px solid #E9ECF4; 
		position:relative; 
		@media #{$sm_device}{
			display: block !important; 
		}
		.text-content{ 
			padding:21px 30px; 
		}
		.sm-title{
			margin-bottom: 0; 
		}
		p{ 
			margin-bottom: 0;
		}
		.btn-right {   
			padding:20px 27px;   
			border: none;
			border-left: 1px solid #E9ECF4;
			border-radius: 0;
			font-size: 14px;
			color: #C4C4C4;
			background: #fff;
			text-decoration: none;
			display: -webkit-box; 
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			-webkit-box-pack:center;
			-ms-flex-pack:center;
			justify-content:center;
			    span{
			    	text-align:center;  
			    }
			    i{
			    	font-size: 22px; 
			    }
		}
		.btn-left{
			padding:20px 27px;   
			border: none;
			border-right: 1px solid #E9ECF4;
			border-radius: 0;
			font-size: 14px;
			color: #C4C4C4;
			background: #fff;
			text-decoration: none;
			display: -webkit-box; 
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			-webkit-box-pack:center;
			-ms-flex-pack:center;
			justify-content:center;
		    span{ 
		    	text-align:center; 
		    	i{
			    	font-size: 22px; 
			    	margin-bottom: 5px; 
			    }  
		    }
		}
	}
	.form-fotter{ 
		padding:21px 30px;  
		border-top:1px solid #E9ECF4; 
	}
	.form-body{
		padding:21px 30px;  
	}  
	.right-content-info {
		height: 100%;
		border-left: 1px solid #E9ECF4; 
		padding: 21px 30px;
		@media #{$lg_device}{
			border-left: 0px solid #E9ECF4;   
			border-top: 1px solid #E9ECF4; 
		}
	}
	.navbar-nav{ 
		flex-direction: row;
		@media #{$lg_device}{ 
			flex-direction: column;
		}
		.nav-item{
			.nav-link {
				padding: 8px 22px;
				background: #F9F9F9; 
				border-right: 1px solid #E9ECF4;
				color: #707070;
				display: block; 
				@media #{$lg_device}{ 
					border-right: none;
					border-bottom: 1px solid #E9ECF4; 
					background-color: #fff;   
					padding: 10px 22px;  
				}
			}
		}
	}
}

.form-check-input:checked {
	background-color: #47BB7F;
	border-color: #47BB7F; 
}
.td-v-top td { 
	vertical-align: top !important; 
} 
.form-group label small {
	display: inline-block;
	font-size: 10px;margin-top: 0; color:#D86565; 
}   
@media #{$sm_device}{  
	.form-box-area .form-header .btn-right {
		display: block;
		border-top: 1px solid #E9ECF4;
		border-right: none;
		border-left: none; 
		padding: 10px 22px; 
	} 
	.form-box-area .form-header .btn-right span {
		text-align: left;
	} 
	.form-box-area .form-header .btn-right i {
		display: inline-block !important;
		vertical-align: middle;
		margin-right: 9px;
	}
	.form-box-area .form-header .setting-area {
	  display: inline-block;
	} 
	.setting-area.dropdown-area .dropdown-menu {
		right: auto;
	}
}