.module-area{
	position: fixed;
	left: 0;top: 0;width: 100%;
	height: 100vh;
	overflow-y:auto;
	overflow-x: hidden;
	z-index: 1500;
	background: #fff; 
	display: none; 
}
.module-area.open{
	display: block; 
}