body.open-sidebar {
	overflow: hidden !important;
}
.sidebar-nav-overly{
	position: fixed;
	height: 100vh;
	width: 100%;
	left: 0;
	top: 0;
	background: rgba(237,237,237,.7); 
	z-index: 1000;
	opacity: 0;
	visibility: hidden;
	@include transition(all 0.35s);
}
.sidebar-nav-overly.open {
	opacity: 1;
	visibility: visible;
}
.sidebar-popup-area{
	position: fixed; 
	right: 0;
	top: 0;
	height: 100vh; 
	background: #fff;
	@include transform(translateX(100%));  
	@include transition(cubic-bezier(.45,.05,.55,.95) all 0.35s);
	opacity: 0;
	visibility: hidden;
	z-index: 1200;   
	width: 662px; 
	border-left: 1px solid #C9C9C9;  
	z-index: 1500;  
    .close-btn{
		display: block;
		color: #fff;
		font-size: 18px;  
		background-color: #000000;
		width: 36px;
		height: 32px; 
		text-align: center;
		line-height: 32px; 
		position: absolute;
		right: 100%; 
		top: 33px; 
		@media #{$sm_mobile}{
			right: auto;left: 0;top: 15px; 
		}
    }
	@media #{$md_device}{
		width: 450px; 
	}
	@media #{$sm_device}{
		width: 400px;
		padding: 30px 0;
	}
	@media #{$sm_mobile}{
		width: 100%;
	}
	.header-part{ 
		h4{
			font-size: 18px;
			margin-bottom: 0;
			line-height: 24px;  
			margin-bottom: 15px; 
			font-weight: 400; 
		}
	}
	.sidebar-nav-body{ 
		text-align: left;
		padding: 32px 40px;     
		overflow-y: auto;
		overflow-x: hidden; 
		height: 100vh; 
		h5{
			font-size: 23px;
			line-height: 29px; 
		}
		@media #{$sm_device}{
			padding:30px; 
			h5{
				font-size: 20px; 
			}
		}
	}
	#ui-datepicker-div {
		top: 100% !important;
		left: 0 !important;
		transform: translateX(0);
		position: absolute !important;
	}
	.input-field input {
		height: 65px;
		padding: 13px 30px;
		border: 1px solid #EAE9F2; 
		border-radius: 10px;
	}
}
.sidebar-popup-area.open{
	@include transform(translateX(0));
	opacity: 1;
	visibility: visible; 
}