table{
	.avater-area { 
		min-width: 200px;
	}
}
table.last-td-50{

}
table.dataTable thead .sorting::after {
	opacity: 0;
}
table.dataTable thead .sorting_desc::after,table.dataTable thead .sorting_asc::after {
	content: "\e156";
	opacity: 0;
} 
.dataTables_wrapper {
	position: relative;
} 
.dataTables_wrapper .row:nth-child(3) .col-sm-6:nth-child(1) {
	display: none;
}
.dataTables_wrapper .row:nth-child(1) .col-sm-6:nth-child(1) {
	position: absolute;
	bottom: 0;
	right: 0;
	width: auto;
} 
.dataTables_wrapper .row:nth-child(1) .col-sm-6:nth-child(2){
	overflow: hidden; 
}
.dataTables_wrapper .row:nth-child(1) .col-sm-6:nth-child(2) .dataTables_filter{
	display: flex;
	align-items: center;
	padding: 4px 0; 
	label{
		color: transparent; 
		position: relative; 
		&::before{
			content: "\f002";
			font-family: "Font Awesome 5 Pro";
			font-weight: 700;
			position: absolute;top: 50%;
			@include transform(translateY(-50%)); 
			color: #C9C9C9; 
			left: 72px;  
		}
		input{
			color: #000; 
			border-radius: 5px;
			border-color: #D6DFE4; 
			font-size: 14px; padding-left: 40px; 
			width: 221px; 
		}
	}
} 
.table-info-area .dataTables_wrapper .row:nth-child(3) .col-sm-6:nth-child(2) {
	margin-top: 10px;
}  
.table-info-area .dataTables_wrapper .row:nth-child(1) .col-sm-6:nth-child(2){
	margin-bottom: 10px; 
}
.tbl-search-right .dataTables_wrapper .row:nth-child(1) .col-sm-6:nth-child(2) {
	margin-left: auto;
	div.dataTables_filter label{
		margin-left: auto; 
		left: 0; 
	}
} 
.tbl-style-3{
	th,td{
		vertical-align: middle; 
		border-right: 1px solid #D6DFE4; 
	} 
	.job-info {
		padding-right: 61px;
		min-width: 250px; 
	}
}
// TABLE INFO
.table-info-area{
	td,th{
		vertical-align: middle; 
		padding: 10px 30px !important;   
	} 
	td{
		border-bottom: 1px solid #E9ECF4;   
	} 
	tr:last-child td {
		border-bottom: none;
	}
	th{ 
		border-top: 1px solid #E9ECF4;   
		text-transform: uppercase; 
	} 
}
.table-info-wrapper{ 
	.dataTables_wrapper .row:nth-child(1) .col-sm-6:nth-child(2) {
		position: absolute;
		top: -58px;
		right: 18px;
		width: auto;
	}
}
.table-info-area th {
	background: #F9F9F9;
}  
.d-none-pagination .dataTables_wrapper .row:nth-child(1) .col-sm-6:nth-child(1){
	display: none; 
}
.d-none-short .dataTables_wrapper .row:nth-child(3) .col-sm-6:nth-child(2){
	display: none; 
}
.table-info-wrapper {
	border: 1px solid #ddd;
	border-radius: 3px;
	position: relative;
	.sm-sort.form-group { 
		position: absolute;
		top: 29px;
		right: 266px;
		width: 141px;
		@media #{$md_device}{
			position: relative;
			right: 0; 
			top: 0;
			margin-top: 12px;
			width: 221px;
		}
	}
} 
@media #{$md_device}{ 
	.table-info-wrapper .dataTables_wrapper .row:nth-child(1) .col-sm-6:nth-child(2) {
	  right: auto;
	  left: 0;
	  top: -47px;
	}
	.table-info-wrapper .dataTables_wrapper .row:nth-child(1) .col-sm-6:nth-child(2) .dataTables_filter {
	  left: -39px;
	  position: relative;
	} 
	.table-info-wrapper .dataTables_wrapper {
		margin-top: 43px;
	}
}
.table-info-wrapper.has-pagination .dataTables_wrapper .row:nth-child(3) {
	position: absolute;
	bottom: -53px;
}
.table-info-wrapper.has-pagination .dataTables_wrapper .row:nth-child(1) .col-sm-6:nth-child(1) {
	position: absolute;
	bottom: -52px;
	right: 0;
	width: auto;
}
.subscribe-table td {
	vertical-align: middle;
	padding: 20px 30px;
	border-bottom: 1px solid #E9ECF4;
} 
.subscribe-table tr{
	&:last-child{
		td{
			border-bottom: none; 
		} 
	}
}
.subscribe-table .subscribe-info i {
  font-size: 38px;
  margin-top: 4px;
}
.subscribe-table .subscribe-info .text-info p {
  color: #000;
  margin-bottom: 0;
}
.subscribe-table .subscribe-info .text-info span {
  color: #707070;
}
.subscribe-table .subscribe-info .text-info { 
  padding-left: 17px;
} 
.subscribe-table .btn.arrow-btn {
	padding: 10px;
	font-size: 18px; 
	color: #707070;
}
.form-select-left {
  position: relative;
}
.form-select-left::before { 
  content: "\f0d7";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  right: 11px;
  position: absolute;
  top: 8px;
  font-size: 19px;
}
.form-select-left select {
  padding-right: 32px;
} 