.text-14{
	font-size: 14px; 
}
.text-bold{
	font-weight: bold;
}  
.sm-title{
  font-size: 16px;
  font-weight: 400;
  color: #323740;
  line-height: 25px;  
}
.small-title{
  color: #000; font-size: 14px;line-height: 19px; font-weight: 400;  
}
.md-title{
	font-size: 28px;
	font-weight: 500; 
	line-height: 30px;  
}
.md-icon{ 
  font-size: 30px;  
}
.title-md{
  font-size: 24px;
}
.title-sm{
	font-size: 14px;
	font-weight: bold;
	line-height: 24px; 
}
.fw-400{
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
} 
.fw-bold{ 
  font-weight: bold;
}
.ml-10{
	margin-left: 10px; 
}
.sm_title_des_info{
    font-size: 13px; 
    line-height: 15px; 
    color: #a6a6ae; 
    line-height: 17px;  
    .title{
        font-size: 14px;
        color: var(--color-dark2); 
        margin-bottom: 0;
        line-height: 20px;  
    }
} 
.mas_smalldate {
	font-size: 14px;
	color: #8f9399;
} 
