@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url(../plugins/datatable/dataTables.bootstrap.css);
@import url(../plugins/datatable/dataTables.responsive.css);
@import url(../plugins/jquery-ui/jquery-ui.min.css);
@import url(../plugins/inputTags/inputTags.min.css); 
body {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height:22px;    
    color: #707070; 
    background: #fff;  
    overflow-x: hidden;  
}
img{
    vertical-align: bottom;
    max-width: 100%;
}
h1,
h2, 
h3, 
h4, 
h5, 
h6{
    color: #05161D;  
    font-weight: 500; 
}

h1 {
    font-size: 50px;
    line-height: 1.4em;
} 
h2 {
    font-size: 56px;
    line-height: 75px;
    letter-spacing: 0;
}
h3 {
    font-size: 32px;
    line-height: 42px;
}
h4 {
    font-size: 26px;
    line-height: 1.6em; 
}
h5 {
    font-size: 20px;
    line-height: 1.6em;
}
h6 {
   font-size: 14px;
   line-height: 19px;
   font-weight: 400; 
}
a,input,button,textarea,*{ 
    outline: none !important; 
}
a{
    color: #455EEE; 
    
}
hr {
    border-color: #E9ECF4 !important;
} 
ol {
    padding-left: 17px;
} 
.all-content-wrapper{
    overflow:hidden; 
}
.container-fluid{
    padding-left: 24px;
    padding-right: 24px;   
    @media #{$sm_mobile}{   
        padding-left: 15px;
        padding-right: 15px;
    }
}
.w-185{
    width: 185px; 
}
.pt-120{
    padding-top: 120px;
}
.pb-120{
    padding-bottom: 120px;
}
.ptb-3{ 
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}
.sec-title{
    text-align: center;
    margin-bottom: 90px;
    h2{
        margin-bottom: 25px;
        strong{
            font-weight: bold;
            color: #FF7F00;
        }
    }
}
.page-top-area{
    background-color: #fff;
    border-radius: 0;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    padding: 2px 24px;  
    border-bottom: 1px solid #eee;
    min-height: 48px; 
    align-items: center;
    margin-bottom: 25px;  
    p{
        margin-bottom: 0; 
    }
} 
.round-5 {
    border-radius: 5px;
} 