.footer-area{
	border-top: 1px solid #eee;  
	bottom: 0;
	left: 0; 
	width: 100%; 
	z-index: 100;   
	padding-top: 22px;
	padding-bottom: 22px; 
	background-color: #ffff; 
	z-index: 1000;
	position:relative; 
	p{
		margin-bottom: 0;
		font-size: 12px;
		line-height: 16px; 
		color: #72848D;
		a{
			color: #72848D; 
			text-decoration: none; 
			&:hover{
				color: var(--color-blue); 
			}
		}
	} 
}
.bottom-fiexd {
	position: fixed;
	border: 0;
	width: 100%;
	left: 0;
	border-top: 1px solid #eee;  z-index: 1000; 
}