@media #{$lg_device}{
	.side-nav-area{ 
		display:block; 
	}
	.header-area .side-nav-area{
		@include transform(translateX(-100%));  
	}
	.open-side-nav{
		.header-area {
			.top-nav{
				@include transform(translateX(240px));
			}
			padding-left: 240px; 
			.side-nav-area{
				@include transform(translateX(0));   
			}
		}
		.main-root{
			@include transform(translateX(240px));  
		}
	}
} 