:root{
  --transition-collapse:all 0.15s;
}
.header-area{
  z-index: 999; 
  position: relative; 
  .top-nav{
    box-shadow:0 -3px 20px rgba(0,0,0,.1); 
    position: fixed;
    width: 100%;
    left: 0;
    top: 0; 
    background-color: #fff; 
    .left-title{
      margin-bottom: 0; 
      font-size: 18px;
      line-height: 24px;
      color: #72848D; font-weight: 400; 
    }
  }
  .nav-link{
    color: #C4C4C4; 
  }
  .top-navbar-nav{
    padding: 0;
    margin:0;
    list-style: none; 
    .nav-link { 
      height: 60px;
      width: 50px;
      text-align: center;
      padding: 18px 11px;
      vertical-align: middle;
      i{
        font-size: 22px;  
      }
      &:hover{
        background-color: #f6f6f6; 
      }
    }  
    .nav-avater-item .nav-link {  
      padding: 13px 8px !important;
    } 
  }
  .dropdown-menu{
    width:332px; border:1px solid #F0F0F0;
    left:auto;right:-10px;  top:42px;
    padding:15px; 
    .dropdown-item{
      font-size: 14px;line-height: 24px;
      padding:7px 15px;
      border-radius:3px;
      i{
        color:var(--color-success); margin-right: 5px;
        width:28px;
        font-size: 16px; 
      }
      &:active,&:hover{
        background-color:var(--color-success);
        color:#fff;
        box-shadow:0 0 18px rgba(0,0,0,.1); 
        i{
          color:#fff; 
        }
      }
    }
  }
  .navbar-nav .nav-item .nav-link {
    padding: 5px 18px;
    color:#A5B0BF;font-size: 16px;line-height: 24px;
    &:hover{
      color: #40AA73; 
    }
    @media #{$xl_device}{
      padding: 5px 10px;   
      font-size: 15px;
      @media #{$sm_device}{
        padding:0;
      }
    }
  } 
  .navbar-nav .nav-item{
    &:first-child{
      .nav-link{
        padding-left: 0;
      }
    }&:last-child{
      .nav-link{ 
        padding-right: 0;
      }
    }
  }
  .navbar-nav .nav-item.active .nav-link{
    color: #40AA73; 
  }
  .navbar{
    padding: 0; 
    .input-group{
      width: auto; 
    }
  }
  // SIDE NAVBAR 
  .side-nav-area {
    position: fixed;
    left: 0; 
    top: 62px;
    height: calc(100vh - 62px);
    border-right: 1px solid #D9DFEB;
    background: #fff;
    width:240px;
    padding-top: 40px;
    padding-bottom: 65px;  
    @media #{$lg_device}{
      height:100vh;
      top:0; background: #40AA73;
    }
    .sidebar-nav {   
      padding: 0 13px;
      height: calc(100vh - 155px);
      overflow-y: auto;
      overflow-x: hidden;
    }
    .sm-title { 
      padding: 0 18px;
      font-size: 16px;font-weight: 500;color:#A5B0BF; 
      line-height: #A5B0BF; 
      margin-bottom: 5px; 
      @media #{$lg_device}{
        color:#fff;   
      }
    }
    .nav-list {
      padding: 0;
      margin: 0;
      list-style: none;
    }
    .nav-list .nav-item .nav-link{
      padding: 7px 17px; 
      border-radius: 3px;
      display: block; 
      font-size: 14px;line-height: 24px;
      width: 100%;
      color:#707070;
      @include transition(all 0.15s);
      @media #{$lg_device}{
        color:#fff; 
      }
      i{
        @include transition(all 0.15s); 
        width:28px;
        display:inline-block;
        color:#47BB7F; 
        font-size: 16px;
        @media #{$lg_device}{
          color:#fff;  
        }
      }
      &:hover{  
        color:var(--color-success);
        @media #{$lg_device}{
          background: #fff;  
          i{
            color:var(--color-success); 
          }
        }
      }
    } 
    .close-btn {
      background: transparent;
      border: transparent;
      color: #fff;
      margin-left: 23px;
      font-weight: 500;
      padding: 12px 8px;
      font-size: 16px; 
    }
  }
}
.top-info-box {
  background-color: #EFEFEF;
  padding: 8px 23px;
} 
.navbar-toggler {
  border: none;
  box-shadow: none !important;
  padding: 20px 16px;
  border-radius: 0;
  color:#7C7C7C; 
} 
.header-area .side-nav-area,.header-area .top-nav,.main-root{
  @include transition(all 0.25s); 
}
.nav-item.nav-avater-item.dropdown .dropdown-menu {
  top: 100%;
  width: 200px;
}
.nav-item.nav-avater-item.dropdown .dropdown-menu .dropdown-item {
  color: #C4C4C4;
}
.nav-item.nav-avater-item.dropdown .dropdown-menu .dropdown-item:hover {
  color: #fff; 
} 