.side-nav-area{
	display:none; 
}
.active-lg-sidebar-nav{ 
	.side-nav-area{
		display:block;  
	}
	.main-root{
		padding-left: 240px; 
		@media #{$lg_device}{
			padding-left: 0; 
		}
	}
}
.main-root {
	padding-left: 0;
	padding-bottom: 90px;
} 