$xxl_device : 'only screen and (max-width: 1400px)';
$xl_device : 'only screen and (max-width: 1199.98px)';
$lg_device : 'only screen and (max-width: 991.98px)';
$md_device:'only screen and (max-width: 767.98px)';
$sm_device:'(max-width: 575.98px)';
$sm_mobile: 'only screen and (max-width: 479px)'; 